* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: repeat;
  background-size: 100%;
}

.red {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120px;
}

.red > * {
  padding: 0 10px 10px;
}

#navbar {
  flex-basis: 80%;
}

#navigation {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  background: rgba(0, 0, 0, 0.76);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 0.8;
}

#top-icon {
  flex-basis: 5%;
}

#nav-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d1d4c9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.7rem;
  flex-basis: 12%;
}

#nav-list {
  list-style-type: none;
  text-align: right;
}
#nav-list button {
  border-radius: 15px;
  text-shadow: 2px 2px 4px #000000;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
}
#nav-list button:hover {
  background-color: #ca3535;
}
#nav-list button a {
  text-decoration: none;
  font-weight: 350;
  font-weight: bold;
}
#nav-list button a:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
  transform: translateY(-7px);
}

select {
  border-radius: 15px;
  text-shadow: 2px 2px 4px #000000;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
  padding: 0 3%;
  font-weight: bold;
  width: 12rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  border-radius: 15px;
  width: 12%;
  padding: 5px 10px 5px 10px;
  color: #d1d4c9;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
select:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
  transform: translateY(-7px);
}

select option {
  color: #d1d4c9;
}

.option {
  font-size: 0.9rem;
  background-color: #00224d;
  border-radius: 15px;
}

#theme-color option {
  opacity: 0.8 !important;
}

#app-icon {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10%;
  height: 20%;
}

/* if height in vh: 20vh is used, it doesn't scale well, if too many elements added to the list (lower flex-container), 
    they won't fit anymore to a fixed vh-height, but will be overlapping into upper flex-container.
    Better to use percentage for containers inside the page, then the page will grow larger if needed - scrollable, 
    as long as alements are added to the list, but they will always fit into their container.
 */
#first-container {
  border-radius: 15px;
}

#form {
  border-radius: 10px;
  border-top: 1px solid #000000;
  margin-top: 8%;
  transition: transform 0.3s ease;
}

.visible-title1 {
  padding: 0.1%;
  margin: 5% 35%;
  border-radius: 15px;
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
  transition: transform 0.3s ease;
}

.visible-title2 {
  padding: 0.1%;
  margin: 5% 35%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.655);
  background: radial-gradient(at 75% 25%, #450930, rgba(29, 54, 92, 0.551));
  transition: transform 0.3s ease;
}

.visible-title1:hover,
.visible-title2:hover,
form:hover {
  transform: translateY(-10px);
}

input {
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  background-color: #00224d;
  color: #d1d4c9;
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
}
input:hover {
  background-color: #ca3535;
  color: #000000;
}

p {
  padding: 2% 0;
}

/* input field for a numeric rate (smaller than others) */
#review {
  width: 7rem;
}

button {
  padding: 0 3%;
  font-weight: bold;
  width: 12rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  text-shadow: 2px 2px 4px #000000;
  transition: transform 0.3s ease;
}
button:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
  transform: translateY(-7px);
}

.buttonWater {
  background-color: #0f4d5f;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 5%;
}

li {
  flex-basis: 80%;
}

.whiteParagraph {
  color: rgba(209, 212, 201, 0.5725490196);
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

.blackParagraph {
  color: #00224d;
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

.whiteText {
  color: #d1d4c9;
  font-weight: 100;
  letter-spacing: 1px;
}

.blackText {
  color: #000000;
  font-weight: 100;
  letter-spacing: 1px;
}

#results {
  margin: 2% auto;
}

hr {
  width: 70%;
}

.favorite-button,
.remove-button {
  border-radius: 15px;
  text-shadow: 2px 2px 4px #000000;
  transition: transform 0.3s ease;
  padding: 0;
  margin: 1%;
  border-width: 0;
  width: 15rem;
  height: 3rem;
}
.favorite-button:hover,
.remove-button:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
  transform: translateY(-7px);
}

.removeButtonWater {
  background-color: #00224d;
}

#new-title {
  display: none;
}

.d-col-2 {
  flex-basis: 16.66%;
}

.d-col-3 {
  flex-basis: 25%;
}

.d-col-4 {
  flex-basis: 33.33%;
}

.d-col-5 {
  flex-basis: 41.66%;
}

.d-col-6 {
  flex-basis: 50%;
}

.d-col-7 {
  flex-basis: 58.33%;
}

.d-col-8 {
  flex-basis: 66.66%;
}

.d-col-9 {
  flex-basis: 75%;
}

.d-col-10 {
  flex-basis: 83.33%;
}

.d-col-11 {
  flex-basis: 91.66%;
}

.d-col-12 {
  flex-basis: 100%;
}

.water {
  background-color: rgba(209, 212, 201, 0.5725490196);
}

/* CSS */
body.theme0 {
  background-image: url("../pictures/neon-quadrats.jpg") !important;
}
body.theme1 {
  background-image: url("../pictures/purple-lights2.jpg") !important;
}
body.theme2 {
  background-image: url("../pictures/violet.jpg") !important;
}
body.theme3 {
  background-image: url("../pictures/triangular-neon-laser.jpg") !important;
}
body.theme4 {
  background-image: url("../pictures/blue-pixel.jpg") !important;
}
body.theme5 {
  background-image: url("../pictures/gold3.jpg") !important;
}
body.theme6 {
  background-image: url("../pictures/volcano.jpg") !important;
}
body.theme7 {
  background-image: url("../pictures/red-triangles.jpg") !important;
}
body.theme8 {
  background-image: url("../pictures/red-blue.jpg") !important;
}
body.theme9 {
  background-image: url("../pictures/orange-green.jpg") !important;
}
body.theme10 {
  background-image: url("../pictures/green-triangles.jpg") !important;
}
body.theme11 {
  background-image: url("../pictures/abstract-green.jpg") !important;
}
body.theme12 {
  background-image: url("../pictures/blue-water.jpg") !important;
}
body.theme13 {
  background-image: url("../pictures/frost.jpg") !important;
}
body.theme14 {
  background-image: url("../pictures/ice.jpg") !important;
}
body.theme15 {
  background-image: url("../pictures/abstract-violet.jpg") !important;
}
body.theme16 {
  background-image: url("../pictures/violet-white.jpg") !important;
}
body.theme17 {
  background-image: url("../pictures/white-colored.jpg") !important;
}

body.theme0 {
  color: #d1d4c9 !important;
}
body.theme1 {
  color: #d1d4c9 !important;
}
body.theme2 {
  color: #d1d4c9 !important;
}
body.theme3 {
  color: #d1d4c9 !important;
}
body.theme4 {
  color: #000000 !important;
}
body.theme5 {
  color: #000000 !important;
}
body.theme6 {
  color: #000000 !important;
}
body.theme7 {
  color: #000000 !important;
}
body.theme8 {
  color: #000000 !important;
}
body.theme9 {
  color: #000000 !important;
}
body.theme10 {
  color: #000000 !important;
}
body.theme11 {
  color: #000000 !important;
}
body.theme12 {
  color: #d1d4c9 !important;
}

.theme0 .theme-button, .theme0 .nav-button,
.theme0 .favorite-button,
.theme0 #theme_color,
.theme0 option {
  background-color: #a0153e;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .theme-button, .theme1 .nav-button,
.theme1 .favorite-button,
.theme1 #theme_color,
.theme1 option {
  background-color: #a0153e;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .theme-button, .theme2 .nav-button,
.theme2 .favorite-button,
.theme2 #theme_color,
.theme2 option {
  background-color: lightblue;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .theme-button, .theme3 .nav-button,
.theme3 .favorite-button,
.theme3 #theme_color,
.theme3 option {
  background-color: blue;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .theme-button, .theme4 .nav-button,
.theme4 .favorite-button,
.theme4 #theme_color,
.theme4 option {
  background-color: black;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .theme-button, .theme5 .nav-button,
.theme5 .favorite-button,
.theme5 #theme_color,
.theme5 option {
  background-color: rgb(223, 86, 13);
  color: #000000;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .theme-button, .theme6 .nav-button,
.theme6 .favorite-button,
.theme6 #theme_color,
.theme6 option {
  background-color: green;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .theme-button, .theme7 .nav-button,
.theme7 .favorite-button,
.theme7 #theme_color,
.theme7 option {
  background-color: lightgreen;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .theme-button, .theme8 .nav-button,
.theme8 .favorite-button,
.theme8 #theme_color,
.theme8 option {
  background-color: yellow;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .theme-button, .theme9 .nav-button,
.theme9 .favorite-button,
.theme9 #theme_color,
.theme9 option {
  background-color: orange;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme10 .theme-button, .theme10 .nav-button,
.theme10 .favorite-button,
.theme10 #theme_color,
.theme10 option {
  background-color: red;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme11 .theme-button, .theme11 .nav-button,
.theme11 .favorite-button,
.theme11 #theme_color,
.theme11 option {
  background-color: darkred;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .theme-button, .theme12 .nav-button,
.theme12 .favorite-button,
.theme12 #theme_color,
.theme12 option {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}

.theme0 .remove-button {
  background-color: violet;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .remove-button {
  background-color: violet;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .remove-button {
  background-color: lightblue;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .remove-button {
  background-color: blue;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .remove-button {
  background-color: black;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .remove-button {
  background-color: rgb(150, 34, 6);
  color: white;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .remove-button {
  background-color: rgb(3, 73, 3);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .remove-button {
  background-color: lightgreen;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .remove-button {
  background-color: yellow;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .remove-button {
  background-color: orange;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme10 .remove-button {
  background-color: red;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme11 .remove-button {
  background-color: darkred;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .remove-button {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}

.theme0 .form-theme, .theme0 .title-theme {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .form-theme, .theme1 .title-theme {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .form-theme, .theme2 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(192, 238, 243, 0.6980392157), rgba(91, 213, 241, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .form-theme, .theme3 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .form-theme, .theme4 .title-theme {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .form-theme, .theme5 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(206, 93, 62, 0.8235294118), rgba(9, 20, 36, 0.749));
  color: white;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .form-theme, .theme6 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .form-theme, .theme7 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .form-theme, .theme8 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .form-theme, .theme9 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme10 .form-theme, .theme10 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(52, 48, 48, 0.6980392157), rgba(33, 2, 3, 0.749));
  color: white;
  box-shadow: 3px 3px 2px black;
}
.theme11 .form-theme, .theme11 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(237, 164, 164, 0.6980392157), rgba(95, 9, 123, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .form-theme, .theme12 .title-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(96, 148, 226, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}

@media (max-width: 1540px) {
  #nav-list button:last-child {
    margin-right: 150px;
  }
  #nav-list button {
    margin: 0 40px;
  }
  select {
    width: 12%;
  }
}
@media (max-width: 1150px) {
  #nav-list button:last-child {
    margin-right: 70px;
  }
  #nav-list button {
    margin: 0 20px;
  }
  select {
    width: 15%;
  }
}
@media (max-width: 1113px) {
  #nav-list button,
  select {
    width: 15%;
  }
}
@media (max-width: 1056px) {
  li {
    flex-basis: 90%;
  }
  li p {
    padding: 2% 0;
  }
}
@media (max-width: 989px) {
  .red {
    height: 200px;
  }
  #nav-title {
    font-size: 1.4rem;
  }
}
/* so that 'Rate (1-10)' doesn't break in 2 rows */
@media (max-width: 956px) {
  body {
    font-size: 1rem;
  }
  #review {
    width: 6rem;
  }
  #nav-list button,
  select {
    width: 8rem;
    height: 3rem;
  }
}
@media (max-width: 908px) {
  #nav-title {
    font-size: 1.4rem;
  }
  #nav-list button,
  select {
    width: 8rem;
    height: 3rem;
  }
}
@media (max-width: 900px) {
  #nav-list button,
  select {
    width: 14%;
  }
}
@media (max-width: 880px) {
  #nav-list button:last-child {
    margin-right: 15px;
  }
  #nav-list button,
  select {
    margin: 0 15px;
    width: 8rem;
    height: 3rem;
  }
  #nav-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 840px) {
  #nav-list button,
  select {
    margin: 0 10px;
    width: 8rem;
    height: 3rem;
  }
  #nav-title {
    font-size: 1.2rem;
    flex-basis: 90%;
  }
  .remove-button {
    margin: 3%;
  }
}
@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }
  .flex-item {
    flex-basis: 70%;
    margin: 1% auto;
  }
  .flex-container {
    height: 45%;
    width: 85%;
    margin: 5% auto;
    align-content: center;
  }
  .red {
    height: 200px;
  }
  #nav-list button,
  select {
    width: 35%;
  }
  #navbar {
    width: 100%;
  }
  button,
  input {
    width: 60%;
  }
  button {
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0%;
  }
  .remove-button {
    margin: 3%;
  }
  li p {
    padding: 2%;
    display: block;
  }
  #first-container {
    margin-bottom: 15%;
  }
  #empty {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */