* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

/* CSS */
body.theme0 {
  background-image: url("../pictures/led-gradient.jpg") !important;
}
body.theme1 {
  background-image: url("../pictures/purple-lights2.jpg") !important;
}
body.theme2 {
  background-image: url("../pictures/violet.jpg") !important;
}
body.theme3 {
  background-image: url("../pictures/triangular-neon-laser.jpg") !important;
}
body.theme4 {
  background-image: url("../pictures/blue-pixel.jpg") !important;
}
body.theme5 {
  background-image: url("../pictures/gold3.jpg") !important;
}
body.theme6 {
  background-image: url("../pictures/volcano.jpg") !important;
}
body.theme7 {
  background-image: url("../pictures/red-triangles.jpg") !important;
}
body.theme8 {
  background-image: url("../pictures/red-blue.jpg") !important;
}
body.theme9 {
  background-image: url("../pictures/orange-green.jpg") !important;
}
body.theme10 {
  background-image: url("../pictures/abstract-green.jpg") !important;
}
body.theme11 {
  background-image: url("../pictures/green-triangles.jpg") !important;
}
body.theme12 {
  background-image: url("../pictures/blue-water.jpg") !important;
}
body.theme13 {
  background-image: url("../pictures/frost.jpg") !important;
}
body.theme14 {
  background-image: url("../pictures/ice.jpg") !important;
}
body.theme15 {
  background-image: url("../pictures/fog-neon.jpg") !important;
}
body.theme16 {
  background-image: url("../pictures/violet-white.jpg") !important;
}
body.theme17 {
  background-image: url("../pictures/white-colored.jpg") !important;
}

body.theme0 {
  background: !important;
}
body.theme1 {
  background: !important;
}
body.theme2 {
  background: !important;
}
body.theme3 {
  background: !important;
}
body.theme4 {
  background: !important;
}
body.theme5 {
  background: !important;
}
body.theme6 {
  background: !important;
}
body.theme7 {
  background: !important;
}
body.theme8 {
  background: !important;
}
body.theme9 {
  background: !important;
}
body.theme10 {
  background: !important;
}
body.theme11 {
  background: !important;
}
body.theme12 {
  background: !important;
}
body.theme13 {
  background: !important;
}
body.theme14 {
  background: !important;
}
body.theme15 {
  background: !important;
}
body.theme16 {
  background: !important;
}
body.theme17 {
  background: !important;
}

body.theme0 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme1 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme2 {
  color: #d1d4c9 !important;
  text-shadow: none !important;
}
body.theme3 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme4 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme5 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme6 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme7 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme8 {
  color: #d1d4c9 !important;
  text-shadow: none !important;
}
body.theme9 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme10 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme11 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme12 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme13 {
  color: #d1d4c9 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme14 {
  color: #000000 !important;
  text-shadow: none !important;
}
body.theme15 {
  color: #000000 !important;
  text-shadow: none !important;
}
body.theme16 {
  color: #000000 !important;
  text-shadow: none !important;
}
body.theme17 {
  color: #000000 !important;
  text-shadow: none !important;
}

.theme0 .theme-button, .theme0 .nav-button,
.theme0 .favorite-button,
.theme0 #theme_color,
.theme0 option {
  background-color: #1f24b7;
  background-image: linear-gradient(300deg, #d00768 0%, #784BA0 24%, #1016ae 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .theme-button, .theme1 .nav-button,
.theme1 .favorite-button,
.theme1 #theme_color,
.theme1 option {
  background-color: #a0153e;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .theme-button, .theme2 .nav-button,
.theme2 .favorite-button,
.theme2 #theme_color,
.theme2 option {
  background-color: rgb(174, 127, 229);
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .theme-button, .theme3 .nav-button,
.theme3 .favorite-button,
.theme3 #theme_color,
.theme3 option {
  background-color: rgb(1, 1, 11);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .theme-button, .theme4 .nav-button,
.theme4 .favorite-button,
.theme4 #theme_color,
.theme4 option {
  background-color: #0b6893;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .theme-button, .theme5 .nav-button,
.theme5 .favorite-button,
.theme5 #theme_color,
.theme5 option {
  background-color: rgb(223, 178, 13);
  color: #000000;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .theme-button, .theme6 .nav-button,
.theme6 .favorite-button,
.theme6 #theme_color,
.theme6 option {
  background-color: rgb(222, 162, 12);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .theme-button, .theme7 .nav-button,
.theme7 .favorite-button,
.theme7 #theme_color,
.theme7 option {
  background-color: lightgreen;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .theme-button, .theme8 .nav-button,
.theme8 .favorite-button,
.theme8 #theme_color,
.theme8 option {
  background-color: rgb(52, 139, 185);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .theme-button, .theme9 .nav-button,
.theme9 .favorite-button,
.theme9 #theme_color,
.theme9 option {
  background-color: orange;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme10 .theme-button, .theme10 .nav-button,
.theme10 .favorite-button,
.theme10 #theme_color,
.theme10 option {
  background-color: red;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme11 .theme-button, .theme11 .nav-button,
.theme11 .favorite-button,
.theme11 #theme_color,
.theme11 option {
  background-color: darkred;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .theme-button, .theme12 .nav-button,
.theme12 .favorite-button,
.theme12 #theme_color,
.theme12 option {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme13 .theme-button, .theme13 .nav-button,
.theme13 .favorite-button,
.theme13 #theme_color,
.theme13 option {
  background-color: yellow;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme14 .theme-button, .theme14 .nav-button,
.theme14 .favorite-button,
.theme14 #theme_color,
.theme14 option {
  background-color: rgb(124, 218, 231);
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme15 .theme-button, .theme15 .nav-button,
.theme15 .favorite-button,
.theme15 #theme_color,
.theme15 option {
  background-color: #2942a4;
  background-image: linear-gradient(300deg, #d007c3 0%, #784BA0 24%, #2942a4 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme16 .theme-button, .theme16 .nav-button,
.theme16 .favorite-button,
.theme16 #theme_color,
.theme16 option {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme17 .theme-button, .theme17 .nav-button,
.theme17 .favorite-button,
.theme17 #theme_color,
.theme17 option {
  background-color: rgb(246, 194, 38);
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}

.theme0 button a {
  color: white;
}
.theme1 button a {
  color: white;
}
.theme2 button a {
  color: black;
}
.theme3 button a {
  color: white;
}
.theme4 button a {
  color: white;
}
.theme5 button a {
  color: #000000;
}
.theme6 button a {
  color: white;
}
.theme7 button a {
  color: black;
}
.theme8 button a {
  color: white;
}
.theme9 button a {
  color: black;
}
.theme10 button a {
  color: white;
}
.theme11 button a {
  color: white;
}
.theme12 button a {
  color: black;
}
.theme13 button a {
  color: black;
}
.theme14 button a {
  color: black;
}
.theme15 button a {
  color: white;
}
.theme16 button a {
  color: white;
}
.theme17 button a {
  color: black;
}

.theme0 .remove-button {
  background-color: rgb(18, 13, 83);
  background-image: linear-gradient(300deg, #232121 0%, #3e1066 20%, rgb(11, 7, 68) 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .remove-button {
  background-color: violet;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .remove-button {
  background-color: rgb(29, 5, 48);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .remove-button {
  background-color: rgb(65, 7, 75);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .remove-button {
  background-color: rgb(3, 16, 42);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .remove-button {
  background-color: rgb(150, 34, 6);
  color: white;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .remove-button {
  background-color: rgb(180, 56, 28);
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .remove-button {
  background-color: lightgreen;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .remove-button {
  background-color: rgb(163, 11, 11);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .remove-button {
  background-color: orange;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme10 .remove-button {
  background-color: red;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme11 .remove-button {
  background-color: darkred;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .remove-button {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme13 .remove-button {
  background-color: orange;
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme14 .remove-button {
  background-color: rgb(35, 107, 116);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme15 .remove-button {
  background-color: rgb(18, 13, 83);
  background-image: linear-gradient(300deg, #232121 0%, #3e1066 20%, rgb(11, 7, 68) 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme16 .remove-button {
  background-color: rgb(34, 33, 33);
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme17 .remove-button {
  background-color: black;
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}

.theme0 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(102, 92, 99, 0.1803921569), rgba(5, 25, 55, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .form-theme {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(210, 192, 243, 0.6980392157), rgba(35, 6, 71, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .form-theme {
  background: radial-gradient(at 25% 75%, #6ab3d7, rgba(51, 4, 39, 0.4078431373));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .form-theme {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(206, 184, 62, 0.9294117647), rgba(203, 28, 28, 0.918));
  color: white;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(81, 79, 79, 0.8588235294), rgba(9, 3, 1, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .form-theme {
  background: radial-gradient(at 25% 75%, #f3eef1, rgba(33, 44, 66, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme10 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(52, 48, 48, 0.6980392157), rgba(33, 2, 3, 0.749));
  color: white;
  box-shadow: 3px 3px 2px black;
}
.theme11 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(237, 164, 164, 0.6980392157), rgba(95, 9, 123, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(96, 148, 226, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme13 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(43, 92, 165, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme14 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(177, 176, 176, 0.6980392157), rgba(12, 58, 88, 0.749));
  color: white;
  box-shadow: 3px 3px 2px black;
}
.theme15 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(102, 92, 99, 0.1803921569), rgba(5, 25, 55, 0.749));
  color: white;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme16 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(164, 209, 237, 0.6980392157), rgba(225, 142, 226, 0.749));
  color: black;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme17 .form-theme {
  background: radial-gradient(at 25% 75%, rgb(248, 248, 246), rgba(255, 255, 255, 0.5));
  color: black;
  box-shadow: 3px 3px 2px #000000;
}

.theme0 .header-style {
  background: radial-gradient(at 25% 75%, #350926, rgba(9, 20, 36, 0.749));
}
.theme1 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme2 .header-style {
  background: radial-gradient(at 25% 75%, #2b043e, rgba(9, 20, 36, 0.749));
}
.theme3 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme4 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme5 .header-style {
  background: radial-gradient(at 25% 75%, rgb(223, 86, 13), rgba(9, 20, 36, 0.749));
}
.theme6 .header-style {
  background: radial-gradient(at 25% 75%, rgba(54, 52, 51, 0.8588235294), rgba(9, 3, 1, 0.749));
}
.theme7 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme8 .header-style {
  background: radial-gradient(at 75% 25%, #f3eef1, rgba(33, 44, 66, 0.749));
}
.theme9 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme10 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme11 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme12 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme13 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme14 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme15 .header-style {
  background: linear-gradient(to bottom, rgba(31, 2, 28, 0.749), rgba(29, 46, 106, 0.4156862745));
}
.theme16 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme17 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}

.theme0 .input-color {
  color: black;
}
.theme1 .input-color {
  color: black;
}
.theme2 .input-color {
  color: black;
}
.theme3 .input-color {
  color: black;
}
.theme4 .input-color {
  background-color: #728d99;
  color: black;
}
.theme5 .input-color {
  background-color: #e2da84;
  color: black;
}
.theme6 .input-color {
  color: black;
}
.theme7 .input-color {
  color: black;
}
.theme8 .input-color {
  background-color: rgba(224, 219, 219, 0.792);
  color: black;
}
.theme9 .input-color {
  color: black;
}
.theme10 .input-color {
  color: black;
}
.theme11 .input-color {
  color: black;
}
.theme12 .input-color {
  color: black;
}
.theme13 .input-color {
  color: black;
}
.theme14 .input-color {
  color: black;
}
.theme15 .input-color {
  color: black;
}
.theme16 .input-color {
  color: black;
}
.theme17 .input-color {
  background-color: rgb(239, 227, 184);
  color: black;
}

body {
  font-family: "Quicksand", sans-serif;
  font-family: "Bruno Ace SC", sans-serif;
  font-family: "Rubik Mono One", monospace;
  font-family: "Permanent Marker", cursive;
  font-family: "Protest Guerrilla", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
  background-repeat: repeat;
  background-size: 100%;
}

h1 {
  font-size: 5rem;
}

.red {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120px;
}

.red > * {
  padding: 0 5px 5px;
}

#navbar {
  flex-basis: 80%;
}

#navigation {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#top-icon {
  flex-basis: 5%;
}

#nav-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d1d4c9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.7rem;
  flex-basis: 12%;
}

#nav-list {
  list-style-type: none;
  text-align: right;
}
#nav-list button {
  border-radius: 15px;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
}
#nav-list button a {
  font-weight: 350;
  font-weight: bold;
  text-decoration: none;
}
#nav-list button a:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

select {
  border-radius: 15px;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
  padding: 0 3%;
  font-weight: bold;
  width: 12rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  border-radius: 15px;
  padding: 5px 20px;
  color: #d1d4c9;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
select:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

select option {
  color: #d1d4c9;
}

.option {
  font-size: 0.9rem;
  background-color: #00224d;
  border-radius: 15px;
}

#theme-color option {
  opacity: 0.8 !important;
}

#app-icon {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 3% 10%;
  height: 20%;
}

/* if height in vh: 20vh is used, it doesn't scale well, if too many elements added to the list (lower flex-container), 
    they won't fit anymore to a fixed vh-height, but will be overlapping into upper flex-container.
    Better to use percentage for containers inside the page, then the page will grow larger if needed - scrollable, 
    as long as alements are added to the list, but they will always fit into their container.
 */
#first-container {
  border-radius: 15px;
}

#form {
  border-radius: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.485);
  border-left: 1px solid rgba(128, 128, 128, 0.478);
  margin-top: 4%;
  transition: transform 0.3s ease;
}

.visible-title1,
.visible-title2 {
  padding: 0.1%;
}

.item-card {
  max-width: 60%;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.item-card:hover {
  transform: translateY(-10px);
}

.item-card2 {
  gap: 25%;
}

.shadow-text {
  font-size: 2rem;
}

input {
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  color: #d1d4c9;
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
}
input:hover {
  background-color: #ca3535;
  color: #000000;
}

.input-button:hover {
  background-color: #ca3535;
  text-shadow: none;
}

p {
  padding: 2% 0;
}

/* input field for a numeric rate (smaller than others) */
#review {
  width: 7rem;
}

button {
  padding: 0 3%;
  font-weight: bold;
  width: 12rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
button:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 5%;
}

li {
  flex-basis: 80%;
}

.whiteParagraph {
  color: rgba(209, 212, 201, 0.5725490196);
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

.blackParagraph {
  color: #00224d;
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

.whiteText {
  color: #d1d4c9;
  font-weight: 100;
  letter-spacing: 1px;
}

.blackText {
  color: #000000;
  font-weight: 100;
  letter-spacing: 1px;
}

#results {
  margin: 2% auto;
}

hr {
  width: 70%;
}

.favorite-button,
.remove-button {
  border-radius: 15px;
  transition: transform 0.3s ease;
  padding: 0;
  margin: 1%;
  border-width: 0;
  width: 15rem;
  height: 3rem;
}
.favorite-button:hover,
.remove-button:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

.removeButtonWater {
  background-color: #00224d;
}

#new-title {
  display: none;
}

.d-col-2 {
  flex-basis: 16.66%;
}

.d-col-3 {
  flex-basis: 25%;
}

.d-col-4 {
  flex-basis: 33.33%;
}

.d-col-5 {
  flex-basis: 41.66%;
}

.d-col-6 {
  flex-basis: 50%;
}

.d-col-7 {
  flex-basis: 58.33%;
}

.d-col-8 {
  flex-basis: 66.66%;
}

.d-col-9 {
  flex-basis: 75%;
}

.d-col-10 {
  flex-basis: 83.33%;
}

.d-col-11 {
  flex-basis: 91.66%;
}

.d-col-12 {
  flex-basis: 100%;
}

.water {
  background-color: rgba(209, 212, 201, 0.5725490196);
}

@media (max-width: 1540px) {
  #nav-list button:last-child {
    margin-right: 150px;
  }
  #nav-list button {
    margin: 0 40px;
  }
  select {
    width: 12%;
  }
}
@media (max-width: 1150px) {
  #nav-list button:last-child {
    margin-right: 50px;
  }
  #nav-list button {
    margin: 0 20px;
  }
  select {
    width: 15%;
  }
}
@media (max-width: 1113px) {
  #nav-list button,
  select {
    width: 15%;
  }
}
@media (max-width: 1056px) {
  li {
    flex-basis: 90%;
  }
  li p {
    padding: 2% 0;
  }
}
@media (max-width: 989px) {
  .red {
    height: 200px;
  }
  #nav-title {
    font-size: 1.4rem;
  }
}
/* so that 'Rate (1-10)' doesn't break in 2 rows */
@media (max-width: 956px) {
  body {
    font-size: 1rem;
  }
  #review {
    width: 6rem;
  }
  #nav-list button,
  select {
    width: 8rem;
    height: 3rem;
  }
}
@media (max-width: 908px) {
  #nav-title {
    font-size: 1.4rem;
  }
  #nav-list button,
  select {
    width: 8rem;
    height: 3rem;
  }
}
@media (max-width: 900px) {
  #nav-list button,
  select {
    width: 14%;
  }
}
@media (max-width: 880px) {
  #nav-list button:last-child {
    margin-right: 15px;
  }
  #nav-list button,
  select {
    margin: 0 15px;
    width: 8rem;
    height: 3rem;
  }
  #nav-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 840px) {
  #nav-list button,
  select {
    margin: 0 10px;
    width: 8rem;
    height: 3rem;
  }
  #nav-title {
    font-size: 1.2rem;
    flex-basis: 90%;
  }
  .remove-button {
    margin: 3%;
  }
}
@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }
  .flex-item {
    flex-basis: 70%;
    margin: 1% auto;
  }
  .flex-container {
    height: 45%;
    width: 85%;
    margin: 5% auto;
    align-content: center;
  }
  .red {
    height: 200px;
  }
  #nav-list button,
  select {
    width: 35%;
  }
  #navbar {
    width: 100%;
  }
  button,
  input {
    width: 60%;
  }
  button {
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0%;
  }
  .remove-button {
    margin: 3%;
  }
  li p {
    padding: 2%;
    display: block;
  }
  #first-container {
    margin-bottom: 15%;
  }
  #empty {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */