* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

body {
  color: #d1d4c9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: repeat;
  background-size: 100%;
}

.red {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120px;
}

.red > * {
  padding: 0 10px 10px;
}

#navbar {
  flex-basis: 80%;
}

#navigation {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  background: rgba(0, 0, 0, 0.76);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 0.8;
}

#top-icon {
  flex-basis: 5%;
}

#nav-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d1d4c9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  color: #d1d4c9;
  font-weight: bold;
  font-size: 1.7rem;
  flex-basis: 12%;
}

#nav-list {
  list-style-type: none;
  text-align: right;
}
#nav-list button {
  border-radius: 30px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
}
#nav-list button:hover {
  background-color: #ca3535;
}
#nav-list button a {
  text-decoration: none;
  font-weight: 350;
  color: #d1d4c9;
  font-weight: bold;
}
#nav-list button a:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
}

select {
  border-radius: 30px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
  padding: 0 3%;
  font-weight: bold;
  color: #d1d4c9;
  width: 8rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  border-radius: 30px;
  width: 12%;
  padding: 5px 10px 5px 10px;
  color: #d1d4c9;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
select:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
}

select option {
  color: #d1d4c9;
}

.option {
  background-color: #00224d;
  border-radius: 30px;
}

#app-icon {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10%;
  height: 20%;
}

/* if height in vh: 20vh is used, it doesn't scale well, if too many elements added to the list (lower flex-container), 
    they won't fit anymore to a fixed vh-height, but will be overlapping into upper flex-container.
    Better to use percentage for containers inside the page, then the page will grow larger if needed - scrollable, 
    as long as alements are added to the list, but they will always fit into their container.
 */
#first-container {
  border-radius: 30px;
}

#form {
  border-radius: 30px;
  border-top: 1px solid #000000;
  box-shadow: 5px 5px 3px #ca3535;
  margin-top: 8%;
}

.visible-title1 {
  padding: 0.1%;
  margin: 5% 35%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.655);
  color: #d1d4c9;
  box-shadow: 5px 5px 3px #ca3535;
}

.visible-title2 {
  padding: 0.1%;
  margin: 5% 35%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.655);
  color: #d1d4c9;
  box-shadow: 5px 5px 3px #ca3535;
}

.formViolet {
  background: radial-gradient(at 25% 75%, #5d0e41, rgba(77, 148, 255, 0));
  color: #d1d4c9;
}

.formBlue {
  background: radial-gradient(at 25% 75%, #0f4d5f, rgba(77, 148, 255, 0));
  color: #d1d4c9;
}

.formBlack {
  background: rgba(0, 0, 0, 0.655);
  color: #d1d4c9;
}

input {
  width: 12rem;
  height: 2.5rem;
  border-radius: 30px;
  background-color: #00224d;
  color: #d1d4c9;
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
}
input:hover {
  background-color: #ca3535;
  color: #000000;
}

p {
  padding: 2% 0;
}

/* input field for a numeric rate (smaller than others) */
#review {
  width: 7rem;
}

button {
  padding: 0 3%;
  font-weight: bold;
  color: #d1d4c9;
  width: 8rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 30px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
button:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
}

.buttonWater {
  background-color: #0f4d5f;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 5%;
}

li {
  flex-basis: 80%;
}

.whiteParagraph {
  color: rgba(209, 212, 201, 0.5725490196);
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

.blackParagraph {
  color: #00224d;
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

.whiteText {
  color: #d1d4c9;
  font-weight: 100;
  letter-spacing: 1px;
}

.blackText {
  color: #000000;
  font-weight: 100;
  letter-spacing: 1px;
}

#results {
  margin: 2% auto;
}

hr {
  width: 70%;
}

.favorite-button,
.remove-button {
  border-radius: 30px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
  padding: 0;
  margin: 1%;
  border-width: 0;
  width: 15rem;
  height: 3rem;
  color: #d1d4c9;
}
.favorite-button:hover,
.remove-button:hover {
  background-color: #ca3535;
  color: #000000;
  text-shadow: none;
}

.removeButtonWater {
  background-color: #00224d;
}

#new-title {
  display: none;
}

.d-col-2 {
  flex-basis: 16.66%;
}

.d-col-3 {
  flex-basis: 25%;
}

.d-col-4 {
  flex-basis: 33.33%;
}

.d-col-5 {
  flex-basis: 41.66%;
}

.d-col-6 {
  flex-basis: 50%;
}

.d-col-7 {
  flex-basis: 58.33%;
}

.d-col-8 {
  flex-basis: 66.66%;
}

.d-col-9 {
  flex-basis: 75%;
}

.d-col-10 {
  flex-basis: 83.33%;
}

.d-col-11 {
  flex-basis: 91.66%;
}

.d-col-12 {
  flex-basis: 100%;
}

.water {
  background-color: rgba(209, 212, 201, 0.5725490196);
}

/* CSS */
body.theme0 {
  background-image: url("../pictures/blue_vibe.jpg") !important;
}
body.theme1 {
  background-image: url("../pictures/blue_vibe.jpg") !important;
}
body.theme2 {
  background-image: url("../pictures/blue-water-pool.jpg") !important;
}
body.theme3 {
  background-image: url("../pictures/ocean.jpg") !important;
}
body.theme4 {
  background-image: url("../pictures/triangular-neon-laser.jpg") !important;
}
body.theme5 {
  background-image: url("../pictures/guitar-by Ri_Ya.jpg") !important;
}
body.theme6 {
  background-image: url("../pictures/green-abstract.jpg") !important;
}
body.theme7 {
  background-image: url("../pictures/green-triangles.jpg") !important;
}
body.theme8 {
  background-image: url("../pictures/energy-yellow.jpg") !important;
}
body.theme9 {
  background-image: url("../pictures/orange-green.jpg") !important;
}
body.theme10 {
  background-image: url("../pictures/red-triangles.jpg") !important;
}
body.theme11 {
  background-image: url("../pictures/energy-red.jpg") !important;
}
body.theme12 {
  background-image: url("../pictures/energy-white.jpg") !important;
}

.theme0 .button-th1 {
  background-color: #a0153e;
  color: white;
}
.theme1 .button-th1 {
  background-color: #a0153e;
  color: white;
}
.theme2 .button-th1 {
  background-color: lightblue;
  color: black;
}
.theme3 .button-th1 {
  background-color: blue;
  color: white;
}
.theme4 .button-th1 {
  background-color: black;
  color: white;
}
.theme5 .button-th1 {
  background-color: gray;
  color: white;
}
.theme6 .button-th1 {
  background-color: green;
  color: white;
}
.theme7 .button-th1 {
  background-color: lightgreen;
  color: black;
}
.theme8 .button-th1 {
  background-color: yellow;
  color: black;
}
.theme9 .button-th1 {
  background-color: orange;
  color: black;
}
.theme10 .button-th1 {
  background-color: red;
  color: white;
}
.theme11 .button-th1 {
  background-color: darkred;
  color: white;
}
.theme12 .button-th1 {
  background-color: white;
  color: black;
}

.theme0 .favorite-button {
  background-color: #a0153e;
  color: white;
}
.theme1 .favorite-button {
  background-color: #a0153e;
  color: white;
}
.theme2 .favorite-button {
  background-color: lightblue;
  color: black;
}
.theme3 .favorite-button {
  background-color: blue;
  color: white;
}
.theme4 .favorite-button {
  background-color: black;
  color: white;
}
.theme5 .favorite-button {
  background-color: gray;
  color: white;
}
.theme6 .favorite-button {
  background-color: green;
  color: white;
}
.theme7 .favorite-button {
  background-color: lightgreen;
  color: black;
}
.theme8 .favorite-button {
  background-color: yellow;
  color: black;
}
.theme9 .favorite-button {
  background-color: orange;
  color: black;
}
.theme10 .favorite-button {
  background-color: red;
  color: white;
}
.theme11 .favorite-button {
  background-color: darkred;
  color: white;
}
.theme12 .favorite-button {
  background-color: white;
  color: black;
}

.theme0 .remove-button {
  background-color: violet;
  color: white;
}
.theme1 .remove-button {
  background-color: violet;
  color: white;
}
.theme2 .remove-button {
  background-color: lightblue;
  color: black;
}
.theme3 .remove-button {
  background-color: blue;
  color: white;
}
.theme4 .remove-button {
  background-color: black;
  color: white;
}
.theme5 .remove-button {
  background-color: gray;
  color: white;
}
.theme6 .remove-button {
  background-color: green;
  color: white;
}
.theme7 .remove-button {
  background-color: lightgreen;
  color: black;
}
.theme8 .remove-button {
  background-color: yellow;
  color: black;
}
.theme9 .remove-button {
  background-color: orange;
  color: black;
}
.theme10 .remove-button {
  background-color: red;
  color: white;
}
.theme11 .remove-button {
  background-color: darkred;
  color: white;
}
.theme12 .remove-button {
  background-color: white;
  color: black;
}

@media (max-width: 1540px) {
  #nav-list button:last-child {
    margin-right: 150px;
  }
  #nav-list button {
    margin: 0 40px;
  }
  select {
    width: 12%;
  }
}
@media (max-width: 1150px) {
  #nav-list button:last-child {
    margin-right: 70px;
  }
  #nav-list button {
    margin: 0 20px;
  }
  select {
    width: 15%;
  }
}
@media (max-width: 1113px) {
  #nav-list button,
  select {
    width: 15%;
  }
}
@media (max-width: 1056px) {
  li {
    flex-basis: 90%;
  }
  li p {
    padding: 2% 0;
  }
}
@media (max-width: 989px) {
  .red {
    height: 200px;
  }
  #nav-title {
    font-size: 1.4rem;
  }
}
/* so that 'Rate (1-10)' doesn't break in 2 rows */
@media (max-width: 956px) {
  body {
    font-size: 1rem;
  }
  #review {
    width: 6rem;
  }
  #nav-list button,
  select {
    width: 8rem;
    height: 3rem;
  }
}
@media (max-width: 908px) {
  #nav-title {
    font-size: 1.4rem;
  }
  #nav-list button,
  select {
    width: 8rem;
    height: 3rem;
  }
}
@media (max-width: 900px) {
  #nav-list button,
  select {
    width: 14%;
  }
}
@media (max-width: 880px) {
  #nav-list button:last-child {
    margin-right: 15px;
  }
  #nav-list button,
  select {
    margin: 0 15px;
    width: 8rem;
    height: 3rem;
  }
  #nav-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 840px) {
  #nav-list button,
  select {
    margin: 0 10px;
    width: 8rem;
    height: 3rem;
  }
  #nav-title {
    font-size: 1.2rem;
    flex-basis: 90%;
  }
  .remove-button {
    margin: 3%;
  }
}
@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }
  .flex-item {
    flex-basis: 70%;
    margin: 1% auto;
  }
  .flex-container {
    height: 45%;
    width: 85%;
    margin: 5% auto;
    align-content: center;
  }
  .red {
    height: 200px;
  }
  #nav-list button,
  select {
    width: 35%;
  }
  #navbar {
    width: 100%;
  }
  button,
  input {
    width: 60%;
  }
  button {
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0%;
  }
  .remove-button {
    margin: 3%;
  }
  li p {
    padding: 2%;
    display: block;
  }
  #first-container {
    margin-bottom: 15%;
  }
  #empty {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */