@import "base/reset";
@import "base/colors";
@import "base/typography";
@import "abstracts/mixins";

body {
  color: $fontColor1;
  font-family: $sans-serif1;
  text-shadow: 2px 2px 4px $textShadowColor1;
  background-image: url("../pictures/energy-\ by\ TungArt7\ DOUBLE.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

// Navbar (header id="navigation" class="red"):

.red {
  @include flex-container();
  height: 120px;
}

// all children elements of header, which has class .red:
.red > * {
  padding: 0 10px 10px;
}

#navigation {
  @include navigation-position();
  @include navigation-design();
}

#nav-title {
  font-family: $sans-serif2;
  color: $fontColor1;
  @include nav-title();
}

#nav-list {
  list-style-type: none;
  text-align: right;

  button {
    @include button-style();
    @include navbar-button();

    &:last-child {
      margin-right: 250px;
    }
    &:hover {
      background-color: $hoverColor1;
    }
    a {
      @include nav-ancor-text();

      &:hover {
        @include button-hover();
      }
    }
  }
}

#app-icon {
  text-align: center;
}

h1,
h2 {
  margin-top: 10%;
}

// form:

.flex-container {
  @include flex-container();
  align-items: center;
  width: 80%;
  margin: 10%;
  height: 20%;
}
/* if height in vh: 20vh is used, it doesn't scale well, if too many elements added to the list (lower flex-container), 
    they won't fit anymore to a fixed vh-height, but will be overlapping into upper flex-container.
    Better to use percentage for containers inside the page, then the page will grow larger if needed - scrollable, 
    as long as alements are added to the list, but they will always fit into their container.
 */

#first-container {
  border-radius: 30px;
}

#form {
  @include form-design();
}

input {
  @include input-field();

  &:hover {
    background-color: $hoverColor1;
    color: $textShadowColor1;
  }
}

p {
  padding: 2% 0;
}

/* input field for a numeric rate (smaller than others) */
#review {
  width: 7rem;
}

// submit-button:
button {
  @include submit-button();
  @include button-style();

  &:hover {
    @include button-hover();
  }
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 5%;
  }

li {
  flex-basis: 80%;
  p {
    padding: 2%;
    display: inline-block;
  }
}

#results {
  margin: 2% auto;
}

hr {
  width: 70%;
}

.favorite-button,
.remove-button {
  @include button-style();
  @include fav-and-remove-button();

  &:hover {
    @include button-hover();
  }
}

.favorite-button {
  background-color: $navButtonColor1;
}

.remove-button {
  background-color: $formRemoveColor1;
}

#white {
  color: $fontColor1;
  font-weight: 100;
  letter-spacing: 1px;
}

#new-title {
  display: none;
}

.d-col-2 {
  flex-basis: 16.66%;
}
.d-col-3 {
  flex-basis: 25%;
}
.d-col-4 {
  flex-basis: 33.33%;
}
.d-col-5 {
  flex-basis: 41.66%;
}
.d-col-6 {
  flex-basis: 50%;
}
.d-col-7 {
  flex-basis: 58.33%;
}
.d-col-8 {
  flex-basis: 66.66%;
}
.d-col-9 {
  flex-basis: 75%;
}
.d-col-10 {
  flex-basis: 83.33%;
}
.d-col-11 {
  flex-basis: 91.66%;
}
.d-col-12 {
  flex-basis: 100%;
}

@media (max-width: 1540px) {
  #nav-list button:last-child {
    margin-right: 150px;
  }

  #nav-list button {
    margin: 0 40px;
  }
}

@media (max-width: 1150px) {
  #nav-list button:last-child {
    margin-right: 70px;
  }

  #nav-list button {
    margin: 0 20px;
  }
}

@media (max-width: 1056px) {
  li {
    flex-basis: 90%;
  }
  li p {
    padding: 2% 0;
  }
}

/* so that 'Rate (1-10)' doesn't break in 2 rows */
@media (max-width: 956px) {
  body {
    font-size: 1rem;
  }
  #review {
    width: 6rem;
  }
}

@media (max-width: 880px) {
  #nav-list button:last-child {
    margin-right: 15px;
  }

  #nav-list button {
    margin: 0 15px;
  }

  #nav-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 840px) {
  #nav-list button {
    margin: 0 10px;
  }

  #nav-title {
    font-size: 1.2rem;
    flex-basis: 90%;
  }

  .remove-button {
    margin: 3%;
  }
}

@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }

  .flex-item {
    flex-basis: 70%;
    margin: 1% auto;
  }

  .flex-container {
    height: 45%;
    width: 85%;
    margin: 5% auto;
    align-content: center;
  }

  .red {
    height: 200px;
  }

  #nav-list button {
    width: 25%;
  }

  #navbar {
    width: 100%;
  }

  button,
  input {
    width: 60%;
  }

  button {
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0%;
  }

  .remove-button {
    margin: 3%;
  }

  li p {
    padding: 2%;
    display: block;
  }

  #first-container {
    margin-bottom: 15%;
  }

  #empty {
    display: none;
  }
}

/* popraviti My lists button u navbaru na rezoluciji najužeg ekrana mobitela 
  (proširiti button ili prostor za button da slova ne ispadaju) */

/* poravnati navbar buttone u sredini kad je u uskoj mobilnoj rezoluciji */

/* u uskoj mobilnoj rezoluciji - povećati razmak između remove-buttona i donje crte */

// na kraju izbrisati style.css originalni koji je van scss foldera, jer je nepotreban
