* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

body.theme0 {
  background-image: url("../pictures/Abstract-Swirl7.jpg") !important;
}
body.theme1 {
  background-image: url("../pictures/purple-lights2.jpg") !important;
}
body.theme2 {
  background-image: url("../pictures/violet.jpg") !important;
}
body.theme3 {
  background-image: url("../pictures/triangular-neon-laser.jpg") !important;
}
body.theme4 {
  background-image: url("../pictures/blue-pixel.jpg") !important;
}
body.theme5 {
  background-image: url("../pictures/gold3.jpg") !important;
}
body.theme6 {
  background-image: url("../pictures/volcano.jpg") !important;
}
body.theme7 {
  background-image: url("../pictures/1gradient radial black red.png") !important;
}
body.theme8 {
  background-image: url("../pictures/blue27.jpg") !important;
}
body.theme9 {
  background-image: url("../pictures/abstract-green.jpg") !important;
}
body.theme10 {
  background-image: url("../pictures/forest12.png") !important;
}
body.theme11 {
  background-image: url("../pictures/view-water3.jpg") !important;
}
body.theme12 {
  background-image: url("../pictures/frost2.jpg") !important;
}
body.theme13 {
  background-image: url("../pictures/ice.jpg") !important;
}
body.theme14 {
  background-image: url("../pictures/fog-neon2.jpg") !important;
}
body.theme15 {
  background-image: url("../pictures/white-colored2.jpg") !important;
}

body.theme0 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme1 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme2 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme3 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme4 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme5 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme6 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme7 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme8 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme9 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme10 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme11 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme12 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme13 {
  color: #000000 !important;
  text-shadow: none !important;
}
body.theme14 {
  color: #f5f5f4 !important;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8) !important;
}
body.theme15 {
  color: #000000 !important;
  text-shadow: none !important;
}

.theme0 .theme-button, .theme0 .nav-button,
.theme0 .favorite-button,
.theme0 #theme_color,
.theme0 .dropdown-menu,
.theme0 .show-more-button,
.theme0 .play-button {
  background-color: #070b7c;
  background-image: linear-gradient(320deg, #d007a8 0%, #040651 50%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme1 .theme-button, .theme1 .nav-button,
.theme1 .favorite-button,
.theme1 #theme_color,
.theme1 .dropdown-menu,
.theme1 .show-more-button,
.theme1 .play-button {
  background-color: #070b7c;
  background-image: linear-gradient(320deg, #d00768 0%, #070b7c 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme2 .theme-button, .theme2 .nav-button,
.theme2 .favorite-button,
.theme2 #theme_color,
.theme2 .dropdown-menu,
.theme2 .show-more-button,
.theme2 .play-button {
  background-color: rgb(174, 127, 229);
  background-image: linear-gradient(320deg, #b798ca 0%, #6b38a5 50%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme3 .theme-button, .theme3 .nav-button,
.theme3 .favorite-button,
.theme3 #theme_color,
.theme3 .dropdown-menu,
.theme3 .show-more-button,
.theme3 .play-button {
  background-color: rgb(1, 1, 11);
  background-image: linear-gradient(320deg, #b721ff 0%, #1591ad 63%, #c1e3eb 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme4 .theme-button, .theme4 .nav-button,
.theme4 .favorite-button,
.theme4 #theme_color,
.theme4 .dropdown-menu,
.theme4 .show-more-button,
.theme4 .play-button {
  background-color: #0b6893;
  background-image: linear-gradient(320deg, #aadeef 0%, #1554ad 43%, #031b85 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme5 .theme-button, .theme5 .nav-button,
.theme5 .favorite-button,
.theme5 #theme_color,
.theme5 .dropdown-menu,
.theme5 .show-more-button,
.theme5 .play-button {
  background-color: rgb(223, 178, 13);
  background-image: linear-gradient(320deg, #e2efaa 0%, #c78f34 63%, #aa471a 100%);
  color: #000000;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme6 .theme-button, .theme6 .nav-button,
.theme6 .favorite-button,
.theme6 #theme_color,
.theme6 .dropdown-menu,
.theme6 .show-more-button,
.theme6 .play-button {
  background-color: rgb(222, 162, 12);
  background-image: linear-gradient(320deg, #e2efaa 0%, rgb(222, 162, 12) 33%, #cd551d 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme7 .theme-button, .theme7 .nav-button,
.theme7 .favorite-button,
.theme7 #theme_color,
.theme7 .dropdown-menu,
.theme7 .show-more-button,
.theme7 .play-button {
  background-color: rgb(242, 54, 12);
  background-image: linear-gradient(320deg, #e2efaa 0%, rgb(207, 108, 3) 17%, #ad0505 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme8 .theme-button, .theme8 .nav-button,
.theme8 .favorite-button,
.theme8 #theme_color,
.theme8 .dropdown-menu,
.theme8 .show-more-button,
.theme8 .play-button {
  background-color: #0b6893;
  background-image: linear-gradient(320deg, #aadeef 0%, #1554ad 43%, #02376b 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme9 .theme-button, .theme9 .nav-button,
.theme9 .favorite-button,
.theme9 #theme_color,
.theme9 .dropdown-menu,
.theme9 .show-more-button,
.theme9 .play-button {
  background-color: rgb(6, 125, 8);
  background-image: linear-gradient(320deg, #c5f5aa 0%, rgb(65, 214, 100) 43%, rgb(1, 84, 2) 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme10 .theme-button, .theme10 .nav-button,
.theme10 .favorite-button,
.theme10 #theme_color,
.theme10 .dropdown-menu,
.theme10 .show-more-button,
.theme10 .play-button {
  background-color: #baff7d;
  background-image: linear-gradient(320deg, #dcf3ca 0%, #57c35e 51%, rgb(16, 108, 6) 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme11 .theme-button, .theme11 .nav-button,
.theme11 .favorite-button,
.theme11 #theme_color,
.theme11 .dropdown-menu,
.theme11 .show-more-button,
.theme11 .play-button {
  background-color: #a6cad2;
  background-image: linear-gradient(320deg, #dbf4f4 0%, rgba(86, 235, 248, 0.7254901961) 20%, rgba(31, 84, 108, 0.749) 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme12 .theme-button, .theme12 .nav-button,
.theme12 .favorite-button,
.theme12 #theme_color,
.theme12 .dropdown-menu,
.theme12 .show-more-button,
.theme12 .play-button {
  background-color: rgb(124, 218, 231);
  background-image: linear-gradient(320deg, rgb(143, 231, 243) 0%, #4da8c4 60%, #106d8a 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme13 .theme-button, .theme13 .nav-button,
.theme13 .favorite-button,
.theme13 #theme_color,
.theme13 .dropdown-menu,
.theme13 .show-more-button,
.theme13 .play-button {
  background-color: rgb(124, 218, 231);
  background-image: linear-gradient(320deg, rgb(206, 240, 244) 50%, #3bbedf 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme14 .theme-button, .theme14 .nav-button,
.theme14 .favorite-button,
.theme14 #theme_color,
.theme14 .dropdown-menu,
.theme14 .show-more-button,
.theme14 .play-button {
  background-color: #2942a4;
  background-image: linear-gradient(320deg, #d007c3 0%, #784ba0 24%, #2942a4 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme15 .theme-button, .theme15 .nav-button,
.theme15 .favorite-button,
.theme15 #theme_color,
.theme15 .dropdown-menu,
.theme15 .show-more-button,
.theme15 .play-button {
  background-color: rgb(246, 194, 38);
  background-image: linear-gradient(320deg, rgb(245, 232, 192) 0%, rgb(246, 194, 38) 43%, #ec7948 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}

.theme0 button a {
  color: white;
}
.theme1 button a {
  color: white;
}
.theme2 button a {
  color: black;
}
.theme3 button a {
  color: white;
}
.theme4 button a {
  color: white;
}
.theme5 button a {
  color: #000000;
}
.theme6 button a {
  color: white;
}
.theme7 button a {
  color: black;
}
.theme8 button a {
  color: white;
}
.theme9 button a {
  color: black;
}
.theme10 button a {
  color: black;
}
.theme11 button a {
  color: black;
}
.theme12 button a {
  color: black;
}
.theme13 button a {
  color: black;
}
.theme14 button a {
  color: white;
}
.theme15 button a {
  color: black;
}

.theme0 .remove-button {
  background-color: #020322;
  background-image: linear-gradient(320deg, #9e919c 0%, #693194 15%, #170138 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme1 .remove-button {
  background-color: violet;
  background-image: linear-gradient(320deg, #555454 0%, #191066 20%, #020322 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme2 .remove-button {
  background-color: rgb(29, 5, 48);
  background-image: linear-gradient(320deg, #682692 0%, #0f1032 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme3 .remove-button {
  background-color: rgb(24, 7, 75);
  background-image: linear-gradient(320deg, rgba(114, 159, 175, 0.6117647059) 0%, rgba(74, 45, 124, 0.6941176471) 50%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme4 .remove-button {
  background-color: rgb(2, 22, 63);
  background-image: linear-gradient(320deg, rgba(114, 159, 175, 0.6117647059) 0%, rgba(16, 22, 97, 0.6941176471) 50%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme5 .remove-button {
  background-color: rgb(150, 34, 6);
  background-image: linear-gradient(320deg, #efca47 0%, rgb(150, 34, 6) 100%);
  color: black;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .remove-button {
  background-color: rgb(180, 56, 28);
  background-image: linear-gradient(320deg, #e5b91a 0%, rgb(127, 27, 2) 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme7 .remove-button {
  background-color: rgb(112, 24, 5);
  background-image: linear-gradient(320deg, #8d3804 0%, rgb(55, 1, 1) 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme8 .remove-button {
  background-color: rgb(2, 22, 63);
  background-image: linear-gradient(320deg, rgba(114, 159, 175, 0.6117647059) 0%, rgba(16, 22, 97, 0.6941176471) 50%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme9 .remove-button {
  background-color: rgb(6, 125, 8);
  background-image: linear-gradient(320deg, #619c55 0%, rgb(1, 99, 60) 33%, rgb(1, 40, 21) 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme10 .remove-button {
  background-color: rgb(0, 139, 67);
  background-image: linear-gradient(320deg, #98cd8e 0%, rgb(1, 99, 5) 23%, rgb(4, 67, 4) 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme11 .remove-button {
  background-color: rgb(37, 121, 143);
  background-image: linear-gradient(320deg, #caebf3 0%, #1c8196 26%, #1c6590 80%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme12 .remove-button {
  background-color: rgb(35, 107, 116);
  background-image: linear-gradient(320deg, #a8c8f0 0%, rgb(45, 150, 164) 20%, #2d5a92 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme13 .remove-button {
  background-color: rgb(35, 107, 116);
  background-image: linear-gradient(320deg, rgb(17, 73, 81) 0%, #a8c8f0 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme14 .remove-button {
  background-color: rgb(18, 13, 83);
  background-image: linear-gradient(300deg, #232121 0%, #3e1066 20%, rgb(11, 7, 68) 100%);
  color: white;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}
.theme15 .remove-button {
  background-color: black;
  background-image: linear-gradient(320deg, rgb(232, 194, 81) 0%, #f38d7b 36%, #7a2715 100%);
  color: black;
  box-shadow: 3px 3px 2px rgba(4, 6, 45, 0.7137254902);
}

.theme0 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(79, 43, 91, 0.8588235294), rgba(5, 25, 55, 0.875));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme1 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(98, 28, 75, 0.8), rgba(9, 20, 36, 0.662));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme2 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(210, 192, 243, 0.5411764706), rgba(35, 6, 71, 0.644));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme3 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(106, 179, 215, 0.5803921569), rgba(51, 4, 39, 0.4078431373));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme4 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(93, 92, 102, 0.3450980392), rgba(5, 25, 55, 0.749));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme5 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(206, 184, 62, 0.8901960784), rgba(203, 28, 28, 0.916));
  color: black;
  text-shadow: none;
  box-shadow: 3px 3px 2px #000000;
}
.theme6 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(81, 79, 79, 0.8588235294), rgba(9, 3, 1, 0.749));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme7 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(165, 102, 70, 0.7490196078), rgba(9, 3, 1, 0.623));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme8 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(93, 92, 102, 0.3450980392), rgba(5, 25, 55, 0.749));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme9 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(99, 154, 3, 0.381), rgba(2, 111, 84, 0.749));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px black;
}
.theme10 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(74, 116, 3, 0.574), rgba(2, 71, 40, 0.623));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme11 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(38, 177, 190, 0.4588235294), rgba(24, 72, 111, 0.674));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme12 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(177, 176, 176, 0.7764705882), rgba(42, 101, 140, 0.8));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme13 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(200, 226, 242, 0.7490196078), rgba(87, 195, 222, 0.5568627451));
  color: black;
  text-shadow: none;
  box-shadow: 3px 3px 2px black;
}
.theme14 .form-theme {
  background: radial-gradient(at 75% 25%, rgba(102, 92, 99, 0.1803921569), rgba(5, 25, 55, 0.749));
  color: white;
  text-shadow: none;
  box-shadow: 3px 3px 2px rgba(120, 118, 118, 0.6901960784);
}
.theme15 .form-theme {
  background: radial-gradient(at 25% 75%, rgba(248, 248, 246, 0.603), rgba(255, 255, 255, 0.444));
  color: black;
  text-shadow: none;
  box-shadow: 3px 3px 2px #000000;
}

.theme0 .header-style {
  background: radial-gradient(at 25% 75%, rgba(8, 0, 5, 0.5568627451), rgba(9, 20, 36, 0.652));
}
.theme1 .header-style {
  background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749));
}
.theme2 .header-style {
  background: radial-gradient(at 25% 75%, #2b043e, rgba(9, 20, 36, 0.749));
}
.theme3 .header-style {
  background: linear-gradient(320deg, rgba(81, 56, 165, 0.5254901961) 0%, rgba(4, 5, 27, 0.5333333333) 100%);
}
.theme4 .header-style {
  background: radial-gradient(at 25% 75%, rgba(37, 40, 131, 0.6039215686), rgba(9, 20, 36, 0.638));
}
.theme5 .header-style {
  background: radial-gradient(at 25% 75%, rgba(223, 87, 13, 0.637), rgba(9, 20, 36, 0.749));
}
.theme6 .header-style {
  background: radial-gradient(at 25% 75%, rgba(54, 52, 51, 0.7960784314), rgba(9, 3, 1, 0.749));
}
.theme7 .header-style {
  background: radial-gradient(at 25% 75%, rgba(104, 44, 14, 0.6470588235), rgba(9, 3, 1, 0.584));
}
.theme8 .header-style {
  background: radial-gradient(at 25% 75%, rgba(37, 40, 131, 0.6039215686), rgba(9, 20, 36, 0.638));
}
.theme9 .header-style {
  background: radial-gradient(at 25% 75%, rgba(2, 111, 84, 0.749), rgba(99, 154, 3, 0.393));
}
.theme10 .header-style {
  background: radial-gradient(at 25% 75%, rgba(99, 154, 3, 0.574), rgba(2, 71, 40, 0.764));
}
.theme11 .header-style {
  background: radial-gradient(at 25% 75%, rgba(38, 177, 190, 0.4588235294), rgba(24, 72, 111, 0.674));
}
.theme12 .header-style {
  background: radial-gradient(at 75% 25%, rgba(128, 179, 213, 0.7490196078), rgba(59, 123, 166, 0.749));
}
.theme13 .header-style {
  background: radial-gradient(at 75% 25%, #cbd7df, rgba(67, 161, 185, 0.749));
}
.theme14 .header-style {
  background: linear-gradient(to bottom, rgba(31, 2, 28, 0.749), rgba(29, 46, 106, 0.4156862745));
}
.theme15 .header-style {
  background: radial-gradient(at 75% 25%, rgba(235, 198, 152, 0.574), rgba(236, 138, 18, 0.759));
}

.theme0 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme1 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme2 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme3 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme4 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme5 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme6 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme7 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme8 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme9 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme10 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme11 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme12 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme13 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme14 .input-color {
  background-color: rgba(242, 237, 222, 0.305);
  color: black;
}
.theme15 .input-color {
  background-color: rgba(239, 227, 184, 0.327);
  color: black;
}

.theme0 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme1 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme2 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme3 .thin {
  color: rgba(205, 204, 204, 0.853);
}
.theme4 .thin {
  color: rgba(205, 204, 204, 0.853);
}
.theme5 .thin {
  color: rgba(38, 37, 37, 0.853);
}
.theme6 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme7 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme8 .thin {
  color: rgba(38, 37, 37, 0.853);
}
.theme9 .thin {
  color: rgba(38, 37, 37, 0.853);
}
.theme10 .thin {
  color: rgba(38, 37, 37, 0.853);
}
.theme11 .thin {
  color: rgba(38, 37, 37, 0.853);
}
.theme12 .thin {
  color: rgba(38, 37, 37, 0.853);
}
.theme13 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme14 .thin {
  color: rgba(130, 129, 129, 0.853);
}
.theme15 .thin {
  color: rgba(130, 129, 129, 0.853);
}

.theme0 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme1 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme2 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme3 .thin2 {
  color: rgba(205, 204, 204, 0.853);
}
.theme4 .thin2 {
  color: rgba(205, 204, 204, 0.853);
}
.theme5 .thin2 {
  color: rgba(38, 37, 37, 0.853);
}
.theme6 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme7 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme8 .thin2 {
  color: rgba(38, 37, 37, 0.853);
}
.theme9 .thin2 {
  color: rgba(38, 37, 37, 0.853);
}
.theme10 .thin2 {
  color: rgba(38, 37, 37, 0.853);
}
.theme11 .thin2 {
  color: rgba(38, 37, 37, 0.853);
}
.theme12 .thin2 {
  color: rgba(38, 37, 37, 0.853);
}
.theme13 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme14 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}
.theme15 .thin2 {
  color: rgba(130, 129, 129, 0.853);
}

body {
  font-family: "Poppins", sans-serif;
  background-repeat: repeat;
  background-size: 100%;
}

h1 {
  font-size: 4rem;
}

h1,
h3 {
  font-family: "Inter", sans-serif;
}

.red {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120px;
}

.red > * {
  padding: 0 5px 5px;
}

#navbar {
  flex-basis: 80%;
}

#navigation {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#top-icon {
  flex-basis: 5%;
}

#nav-title {
  font-family: "Poppins", sans-serif !important;
  color: #f5f5f4;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.7rem;
  flex-basis: 12%;
}

.purple {
  color: rgb(164, 52, 84);
  letter-spacing: 0.2px;
}

.blue {
  color: rgb(38, 101, 174);
  letter-spacing: 0.2px;
}

#nav-list {
  list-style-type: none;
  text-align: right;
}
#nav-list button {
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
}
#nav-list button a {
  font-weight: 350;
  font-weight: bold;
  text-decoration: none;
}
#nav-list button a:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

.dropdown-menu {
  display: none; /* hide dropdown-menu */
  position: absolute;
  top: 70%; /* Sets element right beneath the button - earlier it was 100% but this wasn't ok, it sat too low beneath the button */
  right: 20px;
  background-color: rgba(195, 193, 193, 0.505);
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000; /* shows up in front of other elements */
  width: 130px;
}

/* Dropdown-menu when shown */
.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
  text-shadow: none;
}

.dropdown-menu li:hover {
  background-color: #bebdbd;
}

select {
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
  padding: 0 3%;
  font-weight: bold;
  width: 13rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 5px 20px;
  color: #d1d4c9;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 18%;
}
select:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

select option {
  color: #d1d4c9;
}

.option {
  font-size: 0.9rem;
  background-color: #00224d;
  border-radius: 45px;
}

#theme-color option {
  opacity: 0.8 !important;
}

#app-icon {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 1% 10%;
  height: 20%;
}

/* if height in vh: 20vh is used, it doesn't scale well, if too many elements added to the list 
(lower flex-container), they won't fit anymore to a fixed vh-height, 
but will be overlapping into upper flex-container.
Better to use percentage for containers inside the page, then the page will grow larger if needed 
- scrollable, as long as alements are added to the list, but they will always fit into their container.
 */
.flex-item {
  margin: 3%;
}

#first-container {
  border-radius: 15px;
}

#first-input,
#second-input,
#third-input {
  margin: 1% 3%;
  flex-basis: 0%;
}

.form {
  border-radius: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.485);
  border-left: 1px solid rgba(128, 128, 128, 0.478);
  margin-top: 4%;
  transition: transform 0.3s ease;
}

#search-form {
  width: 40%;
  margin: 2% auto;
}

input[type=checkbox] {
  transform: scale(1.5);
  vertical-align: middle;
  margin-right: 5px; /* gap between checkbox and label */
}

.visible-title1,
.visible-title2 {
  padding: 0.1%;
}

#music-player {
  margin-top: 1%;
  width: 90%;
  height: 40%;
}

#music-wrapper {
  margin-top: 5%;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(123, 125, 128, 0.6235294118);
}

audio::-webkit-media-controls-mute-button {
  background-color: #f6f8f9;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #f6f8f9;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-timeline {
  background-color: #c5c5c5;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #c5c5c5;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

.item-card,
.item-card2,
.item-card3 {
  margin: auto;
  border-radius: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  font-family: "Poppins", sans-serif !important;
  border-top: 1px solid rgba(128, 128, 128, 0.485);
  border-left: 1px solid rgba(128, 128, 128, 0.478);
  gap: 5%;
}

.item-card1 {
  max-width: 40%;
}

.item-card2 {
  max-width: 70%;
  font-size: smaller;
  gap: 10%;
}

.favorite-message {
  font-size: 1rem;
  margin-top: 0px;
  width: 44%;
  text-align: center;
  margin: 8% auto 3%;
}

.item-card3,
.favorite-message {
  max-width: 90%;
  font-size: smaller;
  gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button50 {
  width: 44%;
}

.item-card:hover {
  transform: translateY(-10px);
}

h3 {
  font-size: 2.2rem;
}

input {
  height: 2.5rem;
  border-radius: 45px;
  color: #d1d4c9;
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
}
input:hover {
  background-color: #ca3535;
  color: #000000;
}

button,
select {
  position: relative;
  overflow: hidden;
  border-radius: 45px;
  transition: transform 0.4s ease-in-out;
}
button::after,
select::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to top, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.244) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(320deg) translate(0em, 7.5em);
}
button:hover::after,
select:hover::after {
  animation: shine 1s forwards;
}

@keyframes shine {
  100% {
    transform: rotateZ(320deg) translate(1em, -9em);
  }
}
.input-button:hover {
  background-color: #ca3535;
  text-shadow: none;
}

p {
  padding: 2% 0;
}

/* input field for a numeric rate (smaller than others) */
#review {
  width: 7rem;
}

button {
  padding: 0 3%;
  font-weight: bold;
  width: 13rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman", serif, Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
}
button:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 2%;
}

li {
  flex-basis: 80%;
}

.theme-select-btn {
  width: 16% !important;
}

.thin {
  color: rgba(130, 129, 129, 0.853);
  font-family: "Poppins", sans-serif !important;
  font-size: smaller;
}

.album,
.artist,
.song,
.rating,
.time {
  font-size: smaller;
}

.whiteParagraph {
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
  font-weight: 100;
}

.blackParagraph {
  color: #00224d;
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
  font-weight: 100;
}

#results {
  margin: 2% auto;
}

hr {
  width: 70%;
}

.favorite-button,
.remove-button {
  transition: transform 0.3s ease;
  padding: 0;
  margin: 1%;
  border-width: 0;
  width: 15rem;
  height: 3rem;
}
.favorite-button:hover,
.remove-button:hover {
  text-shadow: none;
  transform: translateY(-7px);
}

.removeButtonWater {
  background-color: #00224d;
}

#new-title {
  display: none;
}

.d-col-2 {
  flex-basis: 16.66%;
}

.d-col-3 {
  flex-basis: 25%;
}

.d-col-4 {
  flex-basis: 33.33%;
}

.d-col-5 {
  flex-basis: 41.66%;
}

.d-col-6 {
  flex-basis: 50%;
}

.d-col-7 {
  flex-basis: 58.33%;
}

.d-col-8 {
  flex-basis: 66.66%;
}

.d-col-9 {
  flex-basis: 75%;
}

.d-col-10 {
  flex-basis: 83.33%;
}

.d-col-11 {
  flex-basis: 91.66%;
}

.d-col-12 {
  flex-basis: 100%;
}

#search-all-input {
  width: 50% !important;
}

.flex-item-big {
  flex-basis: 80%;
  margin-bottom: 0;
  margin-top: 0;
}

.flex-item {
  margin-top: 0;
}

#search-results:focus {
  outline: none;
}

.warning-message {
  color: red;
  font-size: 1rem;
  margin-top: 3px;
}

.result-category {
  width: 100%;
  margin: 2% auto 3%;
}

.result-image {
  border-radius: 45px;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 2px rgb(60, 60, 60);
}
.result-image:hover {
  cursor: pointer;
}

.result-image-playing {
  border-radius: 45px;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 2px rgb(60, 60, 60);
}

.li-item-style {
  padding: 0 1% 2%;
  font-size: 1.1rem;
}

.flex-container-ol {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.flex-container-ol .result-flex-item {
  flex-basis: 30%;
}

.result-item-name {
  font-size: 1.3rem !important;
  font-weight: bold;
  padding: 2% 0;
}

.flex-container-tracks {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.flex-container-tracks li {
  margin-bottom: 15%;
  margin: auto;
}

.flex-container-tracks li.item-card3 {
  margin: auto auto 3%;
}

.flex-container-tracks li div {
  width: 500px;
  margin: auto;
}

.flex-container-tracks .play-button {
  margin: 8% auto 3%;
  display: block;
}

.flex-container-tracks .show-more-button {
  margin: 8% auto 3%;
}

li .image-container {
  position: relative;
  display: inline-block;
  margin: 5% auto 0;
}
li .image-container:hover {
  cursor: pointer;
}

li .image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-image: url("/pictures/play-button.png");
  background-size: cover; /* set picture image according to the container */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; /* set transparency innitially to 0 */
  transition: opacity 0.3s ease; /* smooth effect change */
  /* Transformation for centering the image: */
  transform: translate(-50%, -50%);
}

li:hover .image-container::before {
  opacity: 0.8; /* bigger opacity in order to see the transparent picture */
}

li .image-container img {
  display: block; /* needed to correctly show the picture */
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 5% auto 0;
}
.image-container:hover {
  cursor: pointer;
}
.image-container:hover::before {
  opacity: 0.8;
}
.image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-image: url("/pictures/play-button.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: translate(-50%, -50%);
}

#img-div {
  display: block;
}

li .image-container-artist {
  position: relative;
  display: inline-block;
  margin: 5% auto 0;
}
li .image-container-artist:hover {
  cursor: pointer;
}

li .image-container-artist::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-image: url("/pictures/magnifier2.png");
  background-size: cover; /* set picture image according to the container */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; /* set transparency initially to 0 */
  transition: opacity 0.3s ease; /* smooth effect change */
  /* Transformation for centering the image: */
  transform: translate(-50%, -50%);
}

li:hover .image-container-artist::before {
  opacity: 0.8; /* bigger opacity in order to see the transparent picture */
}

li .image-container-artist img {
  display: block; /* needed to correctly show the picture */
}

.show-more-button {
  margin: 4% auto;
  font-size: 1.1rem;
  width: 30%;
}

.play-button {
  font-size: 1.1rem;
  width: 30%;
}

.form-player {
  width: 50%;
  margin: 1% auto;
}

.form-player .flex-item {
  flex-basis: 40%;
}

#form-results-container {
  margin: 4% auto;
}

.search-category {
  margin: 0% auto;
}

#form-results-container {
  display: none;
}

#flex-search-category {
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

#search-all-button {
  width: 170px;
  font-size: 1.5rem;
}
#search-all-button:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

#controls {
  display: flex;
  margin-top: 3%;
  align-items: center;
}

#prev-button,
#next-button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5%;
}

#prev-icon,
#next-icon {
  width: 1.5rem;
}

#sound-gif {
  width: 13rem;
}

#sound-pic {
  width: 13rem;
}

.my-playlist-play,
.remove-button-playlist {
  margin-top: 0;
  width: 20%;
  font-size: 1.1rem;
}

.spotify-logo,
.facebook-logo,
.linkedin-logo,
.instagram-logo {
  width: 1.8rem;
  height: auto;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.spotify:hover {
  color: #f5f5f4;
  cursor: pointer;
  text-decoration: underline;
}

.spotify a:-webkit-any-link {
  color: #f5f5f4;
  text-decoration: none;
}

.purple-hover:hover {
  color: rgb(164, 52, 84);
}

.blue-hover:hover {
  color: rgb(38, 101, 174);
}

.spotify-embed-container {
  display: block;
  margin: 1%;
}

iframe {
  width: 80rem;
  height: 15rem;
}

.last-container {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.hidden-element {
  display: none;
}

#app-icon-title,
#app-icon-title2 {
  margin-top: 3%;
}

.larger-font {
  font-size: 3.4rem;
  font-weight: bold;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

@media (max-width: 2000px) {
  #sound-gif {
    width: 11rem;
  }
  #sound-pic {
    width: 11rem;
  }
  .show-more-button {
    width: 40%;
  }
  li p {
    max-width: 30%;
  }
}
@media (max-width: 1540px) {
  #nav-list button:last-child {
    margin-right: 150px;
  }
  h1 {
    font-size: 3.3rem;
  }
  #nav-list button {
    margin: 0 40px;
  }
  .flex-item {
    flex-basis: 50%;
    margin: 3% 5%;
  }
  a.ancor-style,
  .nav-button,
  .favorite-button,
  .remove-button,
  .submit-button,
  .show-more-button,
  .play-button,
  #search-all-button {
    font-size: 1.1rem;
    padding: 2%;
  }
  .remove-button-playlist,
  .my-playlist-play {
    font-size: 1rem;
    padding: 0%;
    max-width: 20%;
  }
  #empty {
    display: none;
  }
  .li-item-style {
    margin-bottom: 10%;
  }
  .flex-container-ol {
    flex-direction: row;
    gap: 30px;
  }
  .flex-container-ol .result-flex-item {
    flex-basis: 45% !important;
  }
  .result-image {
    width: 200px;
    height: 200px;
  }
  .result-category {
    font-size: 1.8rem;
  }
  .li-item-style {
    margin-bottom: 0%;
    padding-bottom: 1%;
  }
  .last-container {
    font-size: 0.8rem;
  }
}
@media (max-width: 1150px) {
  #nav-list button {
    margin: 0 20px;
  }
  .flex-item {
    flex-basis: 30%;
    margin: 1% auto;
  }
  h3 {
    font-size: 1.9rem;
    padding: 0%;
  }
  #empty {
    display: none;
  }
  .show-more-button {
    margin: 4% auto 8%;
  }
  #flex-search-category {
    margin-left: 10%;
    margin-right: 10%;
  }
  .larger-font {
    font-size: 2.8rem;
  }
}
@media (max-width: 1113px) {
  #nav-list button {
    width: 15%;
  }
  .remove-button-playlist,
  .my-playlist-play {
    font-size: 0.9rem;
    padding: 0%;
    max-width: 20%;
  }
}
@media (max-width: 1056px) {
  body {
    font-size: 1rem;
  }
  li {
    flex-basis: 90%;
  }
  li p {
    padding: 2% 0;
  }
  .flex-item {
    flex-basis: 30%;
    margin: 1% auto;
  }
  .result-item-name {
    font-size: 1.1rem !important;
  }
  .li-item-style {
    margin-bottom: 0%;
    padding-bottom: 1%;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
}
@media (max-width: 989px) {
  #nav-title {
    font-size: 1.4rem;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
}
/* so that 'Rate (1-10)' doesn't break in 2 rows */
@media (max-width: 956px) {
  body {
    font-size: 1rem;
  }
  #review {
    width: 6rem;
  }
  #nav-list button,
  select {
    width: 10rem;
    height: 3rem;
  }
  a.ancor-style,
  .nav-button,
  .favorite-button,
  .remove-button,
  .submit-button,
  .show-more-button,
  .play-button,
  #search-all-button {
    font-size: 1rem;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
  .remove-button-playlist,
  .my-playlist-play {
    font-size: 0.8rem;
    padding: 0%;
    max-width: 20%;
  }
}
@media (max-width: 908px) {
  .red {
    height: 130px;
  }
  #nav-title {
    font-size: 1.4rem;
  }
  #nav-list button {
    margin: 5px 15px;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
}
@media (max-width: 889px) {
  .red {
    height: 150px;
  }
}
@media (max-width: 880px) {
  #nav-list button:last-child {
    margin-right: 15px;
  }
  #nav-list button,
  select {
    margin: 0 15px;
  }
  #nav-list button {
    margin: 5px 15px;
  }
  #nav-title {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.1rem;
  }
  h3 {
    font-size: 1.3rem;
    padding: 1%;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
  .larger-font {
    font-size: 2.5rem;
  }
}
@media (max-width: 840px) {
  .dropdown-menu {
    top: 115px;
  }
  #nav-title {
    font-size: 1.2rem;
    flex-basis: 90%;
  }
  .remove-button {
    margin: 3%;
  }
  h1 {
    font-size: 3.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  #search-all-input {
    width: 90% !important;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
  .larger-font {
    font-size: 2rem;
  }
}
@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }
  .red {
    height: 180px;
  }
  .flex-item {
    flex-basis: 70%;
  }
  .flex-container {
    height: 45%;
    width: 85%;
    margin: 2% auto;
    align-content: center;
    flex-wrap: wrap;
  }
  .item-fill {
    flex-basis: 70%;
    margin: 3% auto;
  }
  .item-fill2 {
    flex-basis: 70%;
    margin: 3% auto;
  }
  .item-fill3 {
    flex-basis: 30%;
    margin: 3% auto;
  }
  h1 {
    font-size: 2.9rem;
  }
  h3 {
    font-size: 1.4rem;
    padding: 1%;
  }
  select {
    width: 10rem;
  }
  #navbar {
    width: 100%;
  }
  button,
  input,
  .favorite-button,
  .remove-button {
    width: 50%;
  }
  #player-add-to-playlist {
    width: 13rem;
  }
  .show-more-button {
    width: 70%;
  }
  button {
    margin-top: 5%;
    padding: 0%;
  }
  .remove-button {
    margin: 3%;
  }
  li p {
    padding: 2%;
    display: block;
  }
  #first-container {
    margin-bottom: 15%;
  }
  #empty {
    display: none;
  }
  #nav-list {
    text-align: center;
  }
  #nav-list button {
    width: 7rem;
  }
  .dropdown-menu {
    top: 150px;
  }
  h1 {
    font-size: 2.9rem;
  }
  h3 {
    font-size: 1.3rem;
    padding: 1%;
  }
  a.ancor-style,
  .nav-button,
  .favorite-button,
  .remove-button,
  .submit-button,
  .show-more-button,
  .play-button,
  #search-all-button {
    font-size: 1.1rem;
  }
  .favorite-button {
    margin-top: 5%;
  }
  .remove-button,
  .submit-button {
    margin-bottom: 5%;
  }
  .input-button {
    margin-bottom: 5%;
  }
  .flex-container-tracks li div {
    width: 350px;
    margin: auto;
  }
  .result-item-name {
    font-size: 1rem !important;
  }
  .result-flex-item div {
    font-size: 1rem !important;
  }
  #first-input,
  #second-input,
  #third-input {
    width: 44px;
  }
  input[type=checkbox] {
    transform: scale(0.5);
  }
  .result-category {
    font-size: 1.5rem;
  }
  #flex-search-category {
    margin-left: 12%;
    margin-right: 12%;
  }
  .remove-button-playlist,
  .my-playlist-play {
    font-size: 0.8rem;
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 95%;
  }
  .remove-button-playlist {
    margin-top: 7%;
  }
  .item-card2 {
    flex-direction: column;
  }
  .last-container {
    font-size: 0.7rem;
  }
  .nav-button {
    font-size: 1rem;
  }
}
@media (max-width: 570px) {
  .red {
    height: 300px;
  }
}
@media (max-width: 512px) {
  .red {
    height: 300px;
  }
  h1 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 1.2rem;
    padding: 1%;
  }
  audio {
    width: 220px;
    height: 35px;
  }
  .flex-container-tracks li div {
    width: 250px;
    margin: auto;
  }
  .result-category {
    font-size: 1.3rem;
  }
  .flex-container-tracks .play-button {
    width: 130px;
  }
  .flex-container-tracks .show-more-button {
    width: 130px;
  }
  .result-image {
    width: 150px;
    height: 150px;
  }
  #search-all-input {
    width: 90% !important;
  }
  #search-all-button {
    width: 90% !important;
  }
  #search-form {
    width: 85%;
  }
  .remove-button-playlist,
  .my-playlist-play {
    font-size: 0.7rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
  }
}
@media (max-width: 389px) {
  .red {
    height: 300px;
  }
  .flex-container-tracks li div {
    width: 150px;
  }
  #player-add-to-playlist {
    width: 9rem;
  }
  #flex-search-category {
    margin-left: 5%;
    margin-right: 5%;
  }
  .remove-button-playlist,
  .my-playlist-play {
    font-size: 0.7rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
  }
  iframe {
    width: 15rem;
    height: 15rem;
  }
}/*# sourceMappingURL=style.css.map */