$fontColor1: #d1d4c9;
$navButtonColor1: #a0153e;
$boxShadowColor1: #787676b0;
$textShadowColor1: #000000;
$hoverColor1: #ca3535;
$formRemoveColor1: #5d0e41;
$inputColor1: #00224d;
$submitShadow1: #232222b0;
$paragraphColor: #d1d4c992;
$buttonWater: #0f4d5f;