$sans-serif1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, "Times New Roman",
  serif, Tahoma, Geneva, Verdana, sans-serif;
$sans-serif2: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$quicksand: "Quicksand", sans-serif;
$poppins: "Poppins", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$monoton: "Monoton", sans-serif;