@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin navigation-position {
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
}

@mixin navigation-design {
  // background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.76);
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 0.8;
}

@mixin nav-title {
  font-family: $sans-serif2;
  letter-spacing: 2px;
  color: $fontColor1;
  font-weight: bold;
  font-size: 1.7rem;
}

@mixin button-style {
  border-radius: 15px;
  // transform: skew(-5deg);
  text-shadow: 2px 2px 4px $textShadowColor1;
  box-shadow: 3px 3px 2px $boxShadowColor1;
  transition: transform 0.3s ease;
}

@mixin navbar-button {
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
}

@mixin submit-button {
  padding: 0 3%;
  font-weight: bold;
  color: $fontColor1;
  width: 8rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: $sans-serif1;
}

@mixin button-hover {
  background-color: $hoverColor1;
  color: $textShadowColor1;
  text-shadow: none;
  transform: translateY(-7px);
}

@mixin fav-and-remove-button {
  padding: 0;
  margin: 1%;
  border-width: 0;
  width: 15rem;
  height: 3rem;
  color: $fontColor1;
}

@mixin nav-ancor-text {
  text-decoration: none;
  font-weight: 350;
  color: $fontColor1;
  font-weight: bold;
}

@mixin form-design {
  border-radius: 10px;
  border-top: 1px solid $textShadowColor1;
  box-shadow: 5px 5px 3px $navButtonColor1;
  margin-top: 8%;
  transition: transform 0.3s ease;
}

@mixin input-field {
  width: 12rem;
  height: 2.5rem;
  border-radius: 15px;
  background-color: $inputColor1;
  color: $fontColor1;
  text-align: center;
  font-size: 18px;
  font-family: $sans-serif1;
}

@mixin list-paragraph {
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
}

@mixin white-todos {
  font-weight: 100;
  letter-spacing: 1px;
}

@mixin columns {
  .d-col-2 {
    flex-basis: 16.66%;
  }
  .d-col-3 {
    flex-basis: 25%;
  }
  .d-col-4 {
    flex-basis: 33.33%;
  }
  .d-col-5 {
    flex-basis: 41.66%;
  }
  .d-col-6 {
    flex-basis: 50%;
  }
  .d-col-7 {
    flex-basis: 58.33%;
  }
  .d-col-8 {
    flex-basis: 66.66%;
  }
  .d-col-9 {
    flex-basis: 75%;
  }
  .d-col-10 {
    flex-basis: 83.33%;
  }
  .d-col-11 {
    flex-basis: 91.66%;
  }
  .d-col-12 {
    flex-basis: 100%;
  }
}
