// THEMES:

// variable $themes is an object, has many different key-value pairs. Values may consist of several css-atributes.

// Set of colors for nav- and add- buttons:

$themes: (
  theme0: (
    background-color: $navButtonColor1,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme1: (
    background-color: $navButtonColor1,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme2: (
    background-color: lightblue,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme3: (
    background-color: blue,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme4: (
    background-color: black,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme5: (
    background-color: rgb(223, 86, 13),
    color: $textShadowColor1,
    box-shadow: 3px 3px 2px $textShadowColor1,
  ),
  theme6: (
    background-color: green,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme7: (
    background-color: lightgreen,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme8: (
    background-color: yellow,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme9: (
    background-color: orange,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme10: (
    background-color: red,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme11: (
    background-color: darkred,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme12: (
    background-color: white,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
);

// Set of colors for Remove-buttons:

$themes2: (
  theme0: (
    background-color: violet,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme1: (
    background-color: violet,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme2: (
    background-color: lightblue,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme3: (
    background-color: blue,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme4: (
    background-color: black,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme5: (
    background-color: rgb(150, 34, 6),
    color: white,
    box-shadow: 3px 3px 2px $textShadowColor1,
  ),
  theme6: (
    background-color: rgb(3, 73, 3),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme7: (
    background-color: lightgreen,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme8: (
    background-color: yellow,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme9: (
    background-color: orange,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme10: (
    background-color: red,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme11: (
    background-color: darkred,
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme12: (
    background-color: white,
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
);

$backgrounds: (
  theme0: url("../pictures/neon-quadrats.jpg"),  //Theme
  theme1: url("../pictures/purple-lights2.jpg"),  //Disco
  theme2: url("../pictures/violet.jpg"),  //Vibe
  theme3: url("../pictures/triangular-neon-laser.jpg"),  //Spaceship
  theme4: url("../pictures/blue-pixel.jpg"),  //Retro
  theme5: url("../pictures/gold3.jpg"),  //Energy
  theme6: url("../pictures/volcano.jpg"),  //Volcano
  
  theme7: url("../pictures/red-triangles.jpg"),  //Red
  
  theme8: url("../pictures/red-blue.jpg"),  //Duet
  theme9: url("../pictures/orange-green.jpg"),  //Orange green
  theme10: url("../pictures/green-triangles.jpg"),  //Crystal
  theme11: url("../pictures/abstract-green.jpg"),  //Green
  theme12: url("../pictures/blue-water.jpg"),  //Azure
  theme13: url("../pictures/frost.jpg"),  //Frost
  theme14: url("../pictures/ice.jpg"),  //Nord
  theme15: url("../pictures/abstract-violet.jpg"),  //Elegance 

  theme16: url("../pictures/violet-white.jpg"),  //Love
  theme17: url("../pictures/white-colored.jpg"),  //Joy
);

// body font colors:

$fontColors: (
  theme0: $fontColor1,
  theme1: $fontColor1,
  theme2: $fontColor1,
  theme3: $fontColor1,
  theme4: $textShadowColor1,
  theme5: $textShadowColor1,
  theme6: $textShadowColor1,
  theme7: $textShadowColor1,
  theme8: $textShadowColor1,
  theme9: $textShadowColor1,
  theme10: $textShadowColor1,
  theme11: $textShadowColor1,
  theme12: $fontColor1,
);

// Set of colors for Forms and Titles:

$boxes: (
  theme0: (
    background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme1: (
    background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme2: (
    background:
      radial-gradient(at 25% 75%, #c0eef3b2, rgba(91, 213, 241, 0.749)),
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme3: (
    background: radial-gradient(at 25% 75%, #a4d1edb2, rgba(43, 92, 165, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme4: (
    background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme5: (
    background: radial-gradient(at 25% 75%, #ce5d3ed2, rgba(9, 20, 36, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $textShadowColor1,
  ),
  theme6: (
    background: radial-gradient(at 25% 75%, #a4d1edb2, rgba(43, 92, 165, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme7: (
    background: radial-gradient(at 25% 75%, #a4d1edb2, rgba(43, 92, 165, 0.749)),
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme8: (
    background: radial-gradient(at 25% 75%, #a4d1edb2, rgba(43, 92, 165, 0.749)),
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme9: (
    background: radial-gradient(at 25% 75%, #a4d1edb2, rgba(43, 92, 165, 0.749)),
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme10: (
    background: radial-gradient(at 25% 75%, #343030b2, rgba(33, 2, 3, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px black,
  ),
  theme11: (
    background: radial-gradient(at 25% 75%, #eda4a4b2, rgba(95, 9, 123, 0.749)),
    color: white,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme12: (
    background:
      radial-gradient(at 25% 75%, #a4d1edb2, rgba(96, 148, 226, 0.749)),
    color: black,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
);


