@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin navigation-position {
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
}

@mixin navigation-design {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

@mixin nav-title {
  font-family: $sans-serif2;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.7rem;
}

@mixin button-style {
  transition: transform 0.3s ease;
  
}

@mixin navbar-button {
  display: inline-block;
  margin: 0 70px;
  padding: 5px 4px;
 
}

@mixin submit-button {
  padding: 0 3%;
  font-weight: bold;
  width: 13rem;
  height: 3rem;
  border-width: 0;
  font-size: 1.5rem;
  font-family: $sans-serif1;

}

@mixin button-hover {
  text-shadow: none;
  transform: translateY(-7px);
}

@mixin fav-and-remove-button {
  padding: 0;
  margin: 1%;
  border-width: 0;
  width: 15rem;
  height: 3rem;
}

@mixin nav-ancor-text { 
  font-weight: 350;
  font-weight: bold;
}

@mixin form-design {
  border-radius: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.485);
  border-left: 1px solid rgba(128, 128, 128, 0.478);
  margin-top: 4%;
  transition: transform 0.3s ease;
  
}

@mixin input-field {
  // width: 12rem;
  height: 2.5rem;
  border-radius: 45px;
  color: $fontColor1;
  text-align: center;
  font-size: 18px;
  font-family: $sans-serif1;
  
}

@mixin list-paragraph {
  padding: 2%;
  display: inline-block;
  opacity: 0.9;
  font-weight: 100;
}


@mixin columns {
  .d-col-2 {
    flex-basis: 16.66%;
  }
  .d-col-3 {
    flex-basis: 25%;
  }
  .d-col-4 {
    flex-basis: 33.33%;
  }
  .d-col-5 {
    flex-basis: 41.66%;
  }
  .d-col-6 {
    flex-basis: 50%;
  }
  .d-col-7 {
    flex-basis: 58.33%;
  }
  .d-col-8 {
    flex-basis: 66.66%;
  }
  .d-col-9 {
    flex-basis: 75%;
  }
  .d-col-10 {
    flex-basis: 83.33%;
  }
  .d-col-11 {
    flex-basis: 91.66%;
  }
  .d-col-12 {
    flex-basis: 100%;
  }
}
