// THEMES:

// variable $themes is an object, has many different key-value pairs. Values may consist of several css-atributes.

$backgrounds: (
  theme0: url("../pictures/Abstract-Swirl7.jpg"),
  //Theme
  theme1: url("../pictures/purple-lights2.jpg"),
  //Disco
  theme2: url("../pictures/violet.jpg"),
  //Night
  theme3: url("../pictures/triangular-neon-laser.jpg"),
  //Future
  theme4: url("../pictures/blue-pixel.jpg"),
  //Retro
  theme5: url("../pictures/gold3.jpg"),
  //Energy
  theme6: url("../pictures/volcano.jpg"),
  //Volcano
  theme7: url("../pictures/red-triangles.jpg"),
  //Copper
  theme8: url("../pictures/dawn2.jpg"),
  //Sunrise
  theme9: url("../pictures/abstract-green.jpg"),
  //Green
  theme10: url("../pictures/green-triangles.jpg"),
  //Emerald
  theme11: url("../pictures/blue-water3.jpg"),
  //Azure
  theme12: url("../pictures/frost2.jpg"),
  //Frost
  theme13: url("../pictures/ice.jpg"),
  //Nord
  theme14: url("../pictures/fog-neon2.jpg"),
  //Purple
  theme15: url("../pictures/white-colored2.jpg"),
  //Joy
);

$headerThemes: (
  theme0: (
    background: radial-gradient(at 25% 75%, #0800058e, rgba(9, 20, 36, 0.652)),
  ),
  //Theme
  theme1:
    (
      background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749)),
    ),
  //Disco
  theme2:
    (
      background: radial-gradient(at 25% 75%, #2b043e, rgba(9, 20, 36, 0.749)),
    ),
  //Night
  theme3:
    (
      // background: radial-gradient(at 25% 75%, #621c4b, rgba(9, 20, 36, 0.749)),
      background: linear-gradient(320deg, #5138a586 0%, #04051b88 100%),
    ),
  //Future
  theme4:
    (
      background: radial-gradient(at 25% 75%, #2528839a, rgba(9, 20, 36, 0.638)),
    ),
  //Retro
  theme5:
    (
      background:
        radial-gradient(
          at 25% 75%,
          rgba(223, 87, 13, 0.637),
          rgba(9, 20, 36, 0.749)
        ),
    ),
  //Energy
  theme6:
    (
      background: radial-gradient(at 25% 75%, #363433cb, rgba(9, 3, 1, 0.749)),
    ),
  //Volcano
  theme7:
    (
      background: radial-gradient(at 25% 75%, #682c0ea5, rgba(9, 3, 1, 0.584)),
    ),
  //Copper
  theme8:
    (
      background:
        radial-gradient(
          at 25% 75%,
          rgba(223, 87, 13, 0.403),
          rgba(3, 131, 99, 0.749)
        ),
    ),

  //Sunrise
  theme9:
    (
      background:
        radial-gradient(
          at 25% 75%,
          rgba(99, 154, 3, 0.321),
          rgba(2, 111, 84, 0.749)
        ),
    ),
  //Green
  theme10:
    (
      background:
        radial-gradient(
          at 25% 75%,
          rgba(99, 154, 3, 0.574),
          rgba(2, 71, 40, 0.764)
        ),
    ),
  //Emerald
  theme11:
    (
      background: radial-gradient(at 25% 75%, #02818db9, rgba(2, 51, 52, 0.749)),
    ),
  //Azure
  theme12:
    (
      background:
        radial-gradient(at 75% 25%, #80b3d5bf, rgba(26, 78, 113, 0.749)),
    ),
  //Frost
  theme13:
    (
      background:
        radial-gradient(at 75% 25%, #cbd7df, rgba(67, 161, 185, 0.749)),
    ),
  //Nord
  theme14:
    (
      background: linear-gradient(to bottom, rgba(31, 2, 28, 0.749), #1d2e6a6a),
    ),
  //Purple
  theme15:
    (
      background:
        radial-gradient(
          at 75% 25%,
          rgba(235, 198, 152, 0.574),
          rgba(236, 138, 18, 0.759)
        ),
    ),
  //Joy
);

// linear-gradient - to top: 0deg, to bottom: 180deg, to left: 270deg, and to right: 90deg

// Set of colors for Nav- and Add- buttons:

$themes: (
  theme0: (
    background-color: #070b7c,
    background-image: // linear-gradient(320deg, #d00768 5%, #070b7c 40%),
    linear-gradient(320deg, #d007a8 0%, #040651 50%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),

  theme1: (
    background-color: #070b7c,
    background-image: linear-gradient(320deg, #d00768 0%, #070b7c 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme2: (
    background-color: rgb(174, 127, 229),
    background-image: linear-gradient(320deg, #b798ca 0%, #6b38a5 50%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme3: (
    background-color: rgb(1, 1, 11),
    background-image:
      linear-gradient(320deg, #b721ff 0%, #1591ad 63%, #c1e3eb 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme4: (
    background-color: #0b6893,
    background-image:
      linear-gradient(320deg, #aadeef 0%, #1554ad 43%, #031b85 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme5: (
    background-color: rgb(223, 178, 13),
    background-image:
      linear-gradient(320deg, #e2efaa 0%, #c78f34 63%, #aa471a 100%),
    color: $textShadowColor1,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme6: (
    background-color: rgb(222, 162, 12),
    background-image:
      linear-gradient(320deg, #e2efaa 0%, rgb(222, 162, 12) 33%, #cd551d 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme7: (
    background-color: rgb(242, 54, 12),
    background-image:
      linear-gradient(320deg, #e2efaa 0%, rgb(207, 108, 3) 17%, #ad0505 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme8: (
    background-color: rgb(185, 125, 52),
    background-image:
      linear-gradient(320deg, #e2efaa 0%, rgb(222, 162, 12) 33%, #cd551d 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),

  theme9: (
    background-color: rgb(6, 125, 8),
    background-image:
      linear-gradient(
        320deg,
        #c5f5aa 0%,
        rgb(65, 214, 100) 43%,
        rgb(1, 84, 2) 100%
      ),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme10: (
    background-color: #baff7d,
    background-image:
      linear-gradient(320deg, #dcf3ca 0%, #57c35e 51%, rgb(16, 108, 6) 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme11: (
    background-color: #a6cad2,
    background-image:
      linear-gradient(
        320deg,
        #dbf4f4 0%,
        #56ebf8b9 20%,
        rgba(31, 107, 108, 0.749) 100%
      ),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme12: (
    background-color: rgb(124, 218, 231),
    background-image:
      linear-gradient(320deg, rgb(143, 231, 243) 0%, #4da8c4 60%, #106d8a 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme13: (
    background-color: rgb(124, 218, 231),
    background-image:
      linear-gradient(320deg, rgb(206, 240, 244) 50%, #3bbedf 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme14: (
    background-color: #2942a4,
    background-image:
      linear-gradient(320deg, #d007c3 0%, #784ba0 24%, #2942a4 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),

  theme15: (
    background-color: rgb(246, 194, 38),
    background-image:
      linear-gradient(
        320deg,
        rgb(245, 232, 192) 0%,
        rgb(246, 194, 38) 43%,
        #ec7948 100%
      ),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
);



// Set of colors for Remove-buttons:

$themes2: (
  theme0: (
    background-color: #020322,
    background-image:
      linear-gradient(320deg, #9e919c 0%, #693194 15%, #170138 100%),
    color: white,

    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme1: (
    background-color: violet,
    background-image:
      linear-gradient(320deg, #555454 0%, #191066 20%, #020322 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme2: (
    background-color: rgb(29, 5, 48),
    background-image: linear-gradient(320deg, #682692 0%, #0f1032 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme3: (
    background-color: rgb(24, 7, 75),
    background-image: linear-gradient(320deg, #729faf9c 0%, #4a2d7cb1 50%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme4: (
    background-color: rgb(2, 22, 63),
    background-image: linear-gradient(320deg, #729faf9c 0%, #101661b1 50%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme5: (
    background-color: rgb(150, 34, 6),
    background-image: linear-gradient(320deg, #efca47 0%, rgb(150, 34, 6) 100%),
    color: black,
    box-shadow: 3px 3px 2px $textShadowColor1,
  ),
  theme6: (
    background-color: rgb(180, 56, 28),
    background-image: linear-gradient(320deg, #e5b91a 0%, rgb(127, 27, 2) 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme7: (
    background-color: rgb(112, 24, 5),
    background-image: linear-gradient(320deg, #8d3804 0%, rgb(55, 1, 1) 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme8: (
    background-color: rgb(163, 11, 11),
    background-image:
      linear-gradient(320deg, rgb(225, 151, 60) 0%, rgb(3, 131, 99) 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),

  theme9: (
    background-color: rgb(6, 125, 8),
    background-image:
      linear-gradient(
        320deg,
        #619c55 0%,
        rgb(1, 99, 60) 33%,
        rgb(1, 40, 21) 100%
      ),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme10: (
    background-color: rgb(0, 139, 67),
    background-image:
      linear-gradient(320deg, #98cd8e 0%, rgb(1, 99, 5) 23%, rgb(4, 67, 4) 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme11: (
    background-color: rgb(37, 121, 143),
    background-image:
      linear-gradient(320deg, #caebf3 0%, #067f71 26%, #013c5f 80%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme12: (
    // background-color: orange,
    background-color: rgb(35, 107, 116),
    background-image:
      linear-gradient(320deg, #a8c8f0 0%, rgb(34, 115, 125) 20%, #04264f 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme13: (
    background-color: rgb(35, 107, 116),
    background-image: linear-gradient(320deg, rgb(17, 73, 81) 0%, #a8c8f0 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
  theme14: (
    background-color: rgb(18, 13, 83),
    background-image:
      linear-gradient(300deg, #232121 0%, #3e1066 20%, rgb(11, 7, 68) 100%),
    color: white,
    box-shadow: 3px 3px 2px #04062db6,
  ),

  theme15: (
    background-color: black,
    background-image:
      linear-gradient(320deg, rgb(232, 194, 81) 0%, #f38d7b 36%, #7a2715 100%),
    color: black,
    box-shadow: 3px 3px 2px #04062db6,
  ),
);

// Body font colors:

// defining common values:

$commonTextShadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
$defaultColor: $fontColor2;
$noShadowColor: $textShadowColor1;
$noShadow: none;

// creating empty map with themes for common values:
$fontColors: ();

// themes with white font and shadowing:
@for $i from 0 through 14 {
  $fontColors: map-merge(
    $fontColors,
    (
      theme#{$i}:
        (
          color: $defaultColor,
          text-shadow: $commonTextShadow,
        )
    )
  );
}

// themes with black font, without shadowing:
@for $i from 13 through 15 {
  $fontColors: map-merge(
    $fontColors,
    (
      theme#{$i}:
        (
          color: $noShadowColor,
          text-shadow: $noShadow,
        )
    )
  );
}

// $fontColors: map-merge(
//   $fontColors,
//   (
//     theme8: (
//       color: $defaultColor,
//       // text-shadow: $noShadow,
//       text-shadow: $commonTextShadow,
//       // no shadow
//     ),
//   )
// );

$fontColors: map-merge(
  $fontColors,
  (
    theme11: (
      color: $defaultColor,
      text-shadow: $commonTextShadow,
    ),
  )
);

$fontColors: map-merge(
  $fontColors,
  (
    theme14: (
      color: $defaultColor,
      text-shadow: $commonTextShadow,
    ),
  )
);

// font-colors for 'thin'-class-font in forms:

$commonThinText: rgba(130, 129, 129, 0.853);
$differentThinText: rgba(38, 37, 37, 0.853);
$retroThinText: rgba(205, 204, 204, 0.853);

// creating empty map with themes for common values:
$thinColors: ();

// themes with white font and shadowing:
@for $i from 0 through 15 {
  $thinColors: map-merge(
    $thinColors,
    (
      theme#{$i}:
        (
          color: $commonThinText,
        )
    )
  );
}

@for $i from 3 through 5 {
  $thinColors: map-merge(
    $thinColors,
    (
      theme#{$i}:
        (
          color: $differentThinText,
        )
    )
  );
}

@for $i from 8 through 12 {
  $thinColors: map-merge(
    $thinColors,
    (
      theme#{$i}:
        (
          color: $differentThinText,
        )
    )
  );
}

@for $i from 3 through 4 {
  $thinColors: map-merge(
    $thinColors,
    (
      theme#{$i}:
        (
          color: $retroThinText,
        )
    )
  );
}

// Set of colors for Forms:

$formThemes: (
  theme0: (
    background: radial-gradient(at 25% 75%, #4f2b5bdb, rgba(5, 25, 55, 0.875)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme1: (
    background: radial-gradient(at 25% 75%, #621c4bcc, rgba(9, 20, 36, 0.662)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme2: (
    background: radial-gradient(at 25% 75%, #d2c0f38a, rgba(35, 6, 71, 0.644)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme3: (
    background: radial-gradient(at 25% 75%, #6ab3d794, #33042768),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme4: (
    background: radial-gradient(at 75% 25%, #5d5c6658, rgba(5, 25, 55, 0.749)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme5: (
    background: radial-gradient(at 75% 25%, #ceb83ee3, rgba(203, 28, 28, 0.916)),
    color: black,
    text-shadow: none,
    box-shadow: 3px 3px 2px $textShadowColor1,
  ),
  theme6: (
    background: radial-gradient(at 25% 75%, #514f4fdb, rgba(9, 3, 1, 0.749)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme7: (
    background: radial-gradient(at 25% 75%, #a56646bf, rgba(9, 3, 1, 0.623)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme8: (
    // background: radial-gradient(at 25% 75%,  #f3eef1b5, rgba(124, 139, 167, 0.749)),
    background:
      radial-gradient(at 75% 25%, #d2c05ca8, rgba(203, 113, 28, 0.693)),
    color: black,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),

  theme9: (
    // background: radial-gradient(at 25% 75%, #343030b2, rgba(33, 2, 3, 0.749)),
    background:
      radial-gradient(
        at 25% 75%,
        rgba(99, 154, 3, 0.381),
        rgba(2, 111, 84, 0.749)
      ),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px black,
  ),
  theme10: (
    background:
      radial-gradient(
        at 25% 75%,
        rgba(74, 116, 3, 0.574),
        rgba(2, 71, 40, 0.623)
      ),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme11: (
    // background:
    //   radial-gradient(at 25% 75%, #a4d1ed4f, rgba(96, 148, 226, 0.567)),
    background: radial-gradient(at 25% 75%, #02818da2, rgba(2, 51, 52, 0.674)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme12: (
    background:
      // radial-gradient(at 25% 75%, #c8e2f2bf, rgba(110, 158, 230, 0.749)),
    radial-gradient(at 75% 25%, #b1b0b0c6, rgba(42, 101, 140, 0.8)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),
  theme13: (
    background:
      // radial-gradient(at 75% 25%, #b1b0b0b2, rgba(42, 100, 140, 0.749)),
    radial-gradient(at 25% 75%, #c8e2f2bf, #57c3de8e),
    color: black,
    text-shadow: none,
    box-shadow: 3px 3px 2px black,
  ),
  theme14: (
    background: radial-gradient(at 75% 25%, #665c632e, rgba(5, 25, 55, 0.749)),
    color: white,
    text-shadow: none,
    box-shadow: 3px 3px 2px $boxShadowColor1,
  ),

  theme15: (
    background:
      radial-gradient(
        at 25% 75%,
        rgba(248, 248, 246, 0.603),
        rgba(255, 255, 255, 0.444)
      ),
    color: black,
    text-shadow: none,
    box-shadow: 3px 3px 2px $textShadowColor1,
  ),
);

// Input colors:

$inputColors: (
  theme0: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme1: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme2: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme3: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme4: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme5: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme6: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme7: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme8: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),

  theme9: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme10: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme11: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme12: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme13: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),
  theme14: (
    background-color: rgba(242, 237, 222, 0.305),
    color: black,
  ),

  theme15: (
    background-color: rgba(239, 227, 184, 0.327),
    color: black,
  ),
);
